{{&gt; components-header (
        &quot;hasBackLink&quot;: true
)}}


{{&gt; components-primary-nav }}

&lt;div class=&quot;o-body row row--no-gutter&quot;&gt;
            {{&gt; components-tile(
            &quot;strip&quot; : true,
            &quot;backgroundSrc&quot;: &quot;/img/tile-investment.jpg&quot;,
            &quot;title&quot;: &quot;Investments Articles&quot;,
            &quot;categoryName&quot;: &quot;Investments&quot;,
            &quot;categoryTheme&quot;: &quot;gold&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Investments&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Investments&quot;,
            &quot;lastName&quot;: &quot;Investments&quot;,
            &quot;dateDay&quot;: &quot;n/a&quot;,
            &quot;dateMonth&quot;: &quot;n/a&quot;,
            &quot;dateYear&quot;: &quot;n/a&quot;
            )}}
    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-4/pages-article-4.html&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-pen.jpg&quot;,
            &quot;title&quot;: &quot;School of hard knocks&quot;,
            &quot;categoryName&quot;: &quot;Investments&quot;,
            &quot;categoryTheme&quot;: &quot;gold&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-paul.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Paul Rutland&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Paul&quot;,
            &quot;lastName&quot;: &quot;Rutland&quot;,
            &quot;dateDay&quot;: &quot;25&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-3/pages-article-3.html&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-coinJar.jpg&quot;,
            &quot;title&quot;: &quot;ISAy...ISAy...ISAy...&quot;,
            &quot;categoryName&quot;: &quot;Investments&quot;,
            &quot;categoryTheme&quot;: &quot;gold&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Martin.jpg&quot;,
            &quot;imgAlt&quot;: &quot;&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Martin&quot;,
            &quot;lastName&quot;: &quot;Green&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-investmentPlaceholder1.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;Investments&quot;,
            &quot;categoryTheme&quot;: &quot;gold&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Martin.jpg&quot;,
            &quot;imgAlt&quot;: &quot;&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Martin&quot;,
            &quot;lastName&quot;: &quot;Green&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-investmentPlaceholder2.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;Investments&quot;,
            &quot;categoryTheme&quot;: &quot;gold&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Martin.jpg&quot;,
            &quot;imgAlt&quot;: &quot;&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Martin&quot;,
            &quot;lastName&quot;: &quot;Green&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-investmentPlaceholder3.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;Investments&quot;,
            &quot;categoryTheme&quot;: &quot;gold&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Martin.jpg&quot;,
            &quot;imgAlt&quot;: &quot;&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Martin&quot;,
            &quot;lastName&quot;: &quot;Green&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-investmentPlaceholder4.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;Investments&quot;,
            &quot;categoryTheme&quot;: &quot;gold&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Martin.jpg&quot;,
            &quot;imgAlt&quot;: &quot;&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Martin&quot;,
            &quot;lastName&quot;: &quot;Green&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;