{{#tile}}
&lt;div class=&quot;c-tile {{#rectangle}}c-tile--rectangle{{/rectangle}} {{#section}}c-tile--section{{/section}} {{#strip}}c-tile--strip{{/strip}}&quot; style=&quot;background-image: url('{{backgroundSrc}}');&quot;&gt;

    &lt;div class=&quot;c-title__desc&quot;&gt;
        &lt;span class=&quot;c-title__desc-tag c-title__desc-tag--{{categoryTheme}}&quot;&gt;{{categoryName}}&lt;/span&gt;
        &lt;h3 class=&quot;c-title__desc-title&quot;&gt;{{title}}&lt;/h3&gt;

        &lt;!-- // .c-author --&gt;
        &lt;div class=&quot;c-author&quot;&gt;
            &lt;div class=&quot;c-author__image&quot;&gt;
                &lt;img class=&quot;c-avatar&quot; src=&quot;{{imgSrc}}&quot; alt=&quot;{{imgAlt}}&quot;&gt;
            &lt;/div&gt;
            &lt;div class=&quot;c-author__meta&quot;&gt;
                {{prefix}} &lt;span&gt;&lt;b&gt;{{firstName}} {{lastName}}&lt;/b&gt;&lt;/span&gt; &lt;span&gt;&lt;b&gt;{{dateDay}} {{dateMonth}}&lt;/b&gt; {{dateYear}}&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- .c-author // --&gt;

    &lt;/div&gt;

&lt;/div&gt;
{{/tile}}
