{{#primaryNav}}
&lt;nav&gt;
    &lt;ul class=&quot;c-primary-nav&quot;&gt;
        {{#items}}
        &lt;li class=&quot;c-primary-nav__item c-primary-nav__item--{{classModifier}}&quot;&gt;
            &lt;a href=&quot;{{url}}&quot; class=&quot;c-primary-nav__link&quot;&gt;{{name}}&lt;/a&gt;
        &lt;/li&gt;
        {{/items}}
    &lt;/ul&gt;
&lt;/nav&gt;
{{/primaryNav}}