
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

    <script src="../../js/libs/jquery-2.2.4.min.js"></script>
    <script src="../../js/libs/jquery.fitvids.js"></script>
    <script src="../../js/app.js"></script>

	</body>
</html>