{{#author}}
&lt;div class=&quot;c-author {{#bordered}}c-author--bordered{{/bordered}}&quot;&gt;
    &lt;div class=&quot;c-author__image&quot;&gt;
        &lt;img class=&quot;c-avatar c-avatar--bordered&quot; src=&quot;{{imgSrc}}&quot; alt=&quot;{{imgAlt}}&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;c-author__meta&quot;&gt;
        {{prefix}} &lt;span&gt;&lt;b&gt;{{firstName}} {{lastName}}&lt;/b&gt;&lt;/span&gt; &lt;span&gt;&lt;b&gt;{{dateDay}} {{dateMonth}}&lt;/b&gt; {{dateYear}}&lt;/span&gt;
    &lt;/div&gt;
&lt;/div&gt;
{{/author}}