{{&gt; components-header (
        &quot;hasBackLink&quot;: true
)}}

{{&gt; components-primary-nav }}

&lt;div class=&quot;o-body&quot;&gt;

    {{&gt; components-tile(
    &quot;rectangle&quot;: true,
    &quot;backgroundSrc&quot;: &quot;/img/pensions-placeholder/tile-pensionPlaceholder2.jpg&quot;,
    &quot;title&quot;: &quot;TBC&quot;,
    &quot;categoryName&quot;: &quot;pensions&quot;,
    &quot;categoryTheme&quot;: &quot;navy&quot;,
    &quot;imgSrc&quot;: &quot;/img/avatar-Martin.jpg&quot;,
    &quot;imgAlt&quot;: &quot;Martin Green&quot;,
    &quot;prefix&quot;: &quot;by&quot;,
    &quot;firstName&quot;: &quot;Martin&quot;,
    &quot;lastName&quot;: &quot;Green&quot;,
    &quot;dateDay&quot;: &quot;22&quot;,
    &quot;dateMonth&quot;: &quot;Jan&quot;,
    &quot;dateYear&quot;: &quot;2016&quot;
    )}}

    &lt;div class=&quot;container container--padded-top&quot;&gt;

        {{&gt; components-author(
        &quot;bordered&quot;: true,
        &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
        &quot;imgAlt&quot;: &quot;Les Cameron&quot;,
        &quot;prefix&quot;: &quot;by&quot;,
        &quot;firstName&quot;: &quot;Les&quot;,
        &quot;lastName&quot;: &quot;Cameron&quot;,
        &quot;dateDay&quot;: &quot;26&quot;,
        &quot;dateMonth&quot;: &quot;Jan&quot;,
        &quot;dateYear&quot;: &quot;2016&quot;
        )}}

        &lt;div class=&quot;c-article&quot;&gt;
            &lt;p&gt;&lt;b&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, autem earum eligendi excepturi
                itaque laudantium maxime praesentium quam sed tempora, tempore velit. Dolores exercitationem praesentium
                quasi repellendus sed tempore voluptates!&lt;/b&gt;&lt;/p&gt;
            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, delectus deleniti distinctio id illo
                iste laudantium maxime quasi rem similique. Accusantium at corporis, distinctio dolorem doloremque enim
                est explicabo ipsum non officia omnis quos recusandae rem suscipit tempore, tenetur vel?&lt;/p&gt;
            &lt;p&gt;Amet atque esse fuga temporibus unde? Commodi consectetur consequatur ducimus eos eum explicabo harum
                ipsa ipsam ipsum minima perspiciatis quae quaerat, quidem quod similique sit vel velit! Accusantium
                aliquam, dolore eos et illum incidunt inventore magnam perspiciatis repellendus vitae, voluptates!&lt;/p&gt;
            &lt;p&gt;Mollitia, placeat, voluptas. Ad assumenda commodi debitis deleniti earum eum expedita explicabo, id
                laboriosam minima modi nam, officiis praesentium quos recusandae similique sint, sit sunt tempora
                tenetur! Adipisci asperiores incidunt sunt! Impedit iste nobis reiciendis reprehenderit, sint sunt
                tempore vero.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;


    &lt;div class=&quot;container container--padded-top&quot;&gt;
        &lt;div class=&quot;c-article&quot;&gt;
            &lt;h4&gt;This is a title&lt;/h4&gt;
            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, delectus deleniti distinctio id illo
                iste laudantium maxime quasi rem similique. Accusantium at corporis, distinctio dolorem doloremque enim
                est explicabo ipsum non officia omnis quos recusandae rem suscipit tempore, tenetur vel?&lt;/p&gt;
            &lt;p&gt;Amet atque esse fuga temporibus unde? Commodi consectetur consequatur ducimus eos eum explicabo harum
                ipsa ipsam ipsum minima perspiciatis quae quaerat, quidem quod similique sit vel velit! Accusantium
                aliquam, dolore eos et illum incidunt inventore magnam perspiciatis repellendus vitae, voluptates!&lt;/p&gt;
            &lt;p&gt;Mollitia, placeat, voluptas. Ad assumenda commodi debitis deleniti earum eum expedita explicabo, id
                laboriosam minima modi nam, officiis praesentium quos recusandae similique sint, sit sunt tempora
                tenetur! Adipisci asperiores incidunt sunt! Impedit iste nobis reiciendis reprehenderit, sint sunt
                tempore vero.&lt;/p&gt;
        &lt;/div&gt;

        {{&gt; components-table }}


        {{&gt; components-title-divider(
        'title': 'Related articles'
        )}}

    &lt;/div&gt;

    &lt;div class=&quot;row--no-gutter&quot;&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;
            &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-4/pages-article-4.html&quot;&gt;
                {{&gt; components-tile(
                &quot;rectangle&quot;: false,
                &quot;backgroundSrc&quot;: &quot;/img/tile-pen.jpg&quot;,
                &quot;title&quot;: &quot;School of hard knocks&quot;,
                &quot;categoryName&quot;: &quot;Investments&quot;,
                &quot;categoryTheme&quot;: &quot;gold&quot;,
                &quot;imgSrc&quot;: &quot;/img/sample-avatar.jpg&quot;,
                &quot;imgAlt&quot;: &quot;&quot;,
                &quot;prefix&quot;: &quot;by&quot;,
                &quot;firstName&quot;: &quot;Paul&quot;,
                &quot;lastName&quot;: &quot;Rutland&quot;,
                &quot;dateDay&quot;: &quot;24&quot;,
                &quot;dateMonth&quot;: &quot;Jan&quot;,
                &quot;dateYear&quot;: &quot;2016&quot;
                )}}
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;

            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-laptop.jpg&quot;,
            &quot;title&quot;: &quot;IHT... Avoid the Hit&quot;,
            &quot;categoryName&quot;: &quot;Tax&quot;,
            &quot;categoryTheme&quot;: &quot;orange&quot;,
            &quot;imgSrc&quot;: &quot;/img/sample-avatar.jpg&quot;,
            &quot;imgAlt&quot;: &quot;&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Robb&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}

        &lt;/div&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;
            &lt;a class=&quot;c-tile--link&quot; href=&quot;http://127.0.0.1:8080/patterns/pages-article-3/pages-article-3.html&quot;&gt;
                {{&gt; components-tile(
                &quot;rectangle&quot;: false,
                &quot;backgroundSrc&quot;: &quot;/img/tile-coinJar.jpg&quot;,
                &quot;title&quot;: &quot;ISAy...ISAy...ISAy...&quot;,
                &quot;categoryName&quot;: &quot;Investments&quot;,
                &quot;categoryTheme&quot;: &quot;gold&quot;,
                &quot;imgSrc&quot;: &quot;/img/sample-avatar.jpg&quot;,
                &quot;imgAlt&quot;: &quot;&quot;,
                &quot;prefix&quot;: &quot;by&quot;,
                &quot;firstName&quot;: &quot;Martin&quot;,
                &quot;lastName&quot;: &quot;Green&quot;,
                &quot;dateDay&quot;: &quot;22&quot;,
                &quot;dateMonth&quot;: &quot;Jan&quot;,
                &quot;dateYear&quot;: &quot;2016&quot;
                )}}
            &lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;

&lt;/div&gt;