// Small
@mixin mq-sm-up {
  @media (min-width: $breakpoint-sm) {
    @content
  }
}

// Medium
@mixin mq-md-up {
  @media (min-width: $breakpoint-md) {
    @content
  }
}

// Large
@mixin mq-lg-up {
  @media (min-width: $breakpoint-lg) {
    @content
  }
}

// Extra large
@mixin mq-xl-up {
  @media (min-width: $breakpoint-xl) {
    @content
  }
}