@font-face {
  font-family: 'stag-book';
  src:  url('/fonts/stag/book.woff') format('woff');
}

@font-face {
  font-family: 'open-sans-regular';
  src:  url('/fonts/open-sans/regular.woff') format('woff');
}