// =============================================================================
//  _tool.rem-calc
// =============================================================================


// rem-strip-unit()
// ------------------------------------

@function rem-strip-unit($num) {
    @return $num / ($num * 0 + 1);
}


// rem-conversion()
// ------------------------------------

@function rem-conversion($value, $base-value: $base-font-size)  {
    $value: rem-strip-unit($value) / rem-strip-unit($base-value) * 1rem;
    @if ($value == 0rem) { $value: 0; }
    @return $value;
}


// rem-strip-unit()
// ------------------------------------
// .usage { margin: rem-calc(10) }
// .usage { margin: rem-calc(10 20 15 12) }

@function rem-calc($values, $base-value: $base-font-size) {
    $max: length($values);

    @if $max == 1 {
        @return rem-conversion(nth($values, 1), $base-value);
    }

    $remValues: ();

    @for $i from 1 through $max {
        $remValues: append($remValues, rem-conversion(nth($values, $i), $base-value));
    }

    @return $remValues;
}
