{{> components-header }}

{{> components-primary-nav }}

<div class="o-body">
    <div class="row row--no-gutter">
        <div class="col-sm-12 col-md-6">

            {{> components-tile }}

        </div>
        <div class="col-sm-12 col-md-6">
            <div class="row row--no-gutter">
                <div class="col-sm-6">

                    {{> components-tile }}

                </div>
                <div class="col-sm-6">

                    {{> components-tile }}

                </div>
            </div>
            <div class="row row--no-gutter">
                <div class="col-sm-6">

                    {{> components-tile }}

                </div>
                <div class="col-sm-6">

                    {{> components-tile }}

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br/>
        <!-- To do fix this -->
        {{> components-author }}

        {{> components-title-divider }}

        {{> components-info }}

        {{> components-title-divider }}

        {{> components-article }}

        {{> components-title-divider(
            'title': 'Work please'
        )}}

        {{> components-article }}

        {{> components-title-divider }}

        {{> components-callout }}

        {{> components-title-divider }}

        {{> components-table }}

        {{> components-title-divider }}

        {{> components-video }}

        {{> components-title-divider }}

        <div class="row--no-gutter">
            <div class="col-sm-4">

                {{> components-tile }}

            </div>
            <div class="col-sm-4">

                {{> components-tile }}

            </div>
            <div class="col-sm-4">

                {{> components-tile }}

            </div>
        </div>
    </div>
</div>

