{{> components-header }}

{{> components-primary-nav }}

<div class="o-body">

    <div class="row row--no-gutter">
        <div class="col-sm-8">
            <a class="c-tile--link" href="/patterns/pages-article-1/pages-article-1.html">
                {{> components-tile(
                    "rectangle": false,
                    "backgroundSrc": "/img/rect-someThingsNeverChange.jpg",
                    "title": "Some things never change",
                    "categoryName": "Tax",
                    "categoryTheme": "orange",
                    "imgSrc": "/img/avatar-Les.jpg",
                    "imgAlt": "Les Cameron",
                    "prefix": "by",
                    "firstName": "Les",
                    "lastName": "Cameron",
                    "dateDay": "26",
                    "dateMonth": "Jan",
                    "dateYear": "2016"
                )}}
            </a>
        </div>
        <div class="col-sm-4">
            <a class="c-tile--link" href="/patterns/pages-article-2/pages-article-2.html">
                {{> components-tile(
                    "rectangle": false,
                    "backgroundSrc": "/img/rect-MaxOppFromBank.jpg",
                    "title": "Maximising opportunites from your client bank",
                    "categoryName": "business",
                    "categoryTheme": "green",
                    "imgSrc": "/img/avatar-Graham.jpg",
                    "imgAlt": "Graeme Ballantyne",
                    "prefix": "by",
                    "firstName": "Graeme",
                    "lastName": "Ballantyne",
                    "dateDay": "24",
                    "dateMonth": "Jan",
                    "dateYear": "2016"
                )}}
            </a>
            <a class="c-tile--link" href="/patterns/pages-article-4/pages-article-4.html">
                {{> components-tile(
                    "rectangle": false,
                    "backgroundSrc": "/img/tile-pen.jpg",
                    "title": "School of hard knocks",
                    "categoryName": "Investments",
                    "categoryTheme": "gold",
                    "imgSrc": "/img/avatar-paul.jpg",
                    "imgAlt": "Paul Rutland",
                    "prefix": "by",
                    "firstName": "Paul",
                    "lastName": "Rutland",
                    "dateDay": "25",
                    "dateMonth": "Jan",
                    "dateYear": "2016"
                )}}
            </a>
        </div>
    </div>

    <div class="row row--no-gutter">
            <div class="col-sm-4">
                <a class="c-tile--link" href="#">
                    {{> components-tile(
                        "rectangle": false,
                        "backgroundSrc": "/img/rect-taxWasteLand.jpg",
                        "title": "Life in the tax waste land",
                        "categoryName": "Tax",
                        "categoryTheme": "orange",
                        "imgSrc": "/img/avatar-karen.jpg",
                        "imgAlt": "Karen Barret",
                        "prefix": "by",
                        "firstName": "Karen",
                        "lastName": "Barret",
                        "dateDay": "22",
                        "dateMonth": "Jan",
                        "dateYear": "2016"
                    )}}
                </a>
            </div>
            <div class="col-sm-4">
                <a class="c-tile--link" href="#">
                    {{> components-tile(
                        "rectangle": false,
                        "backgroundSrc": "/img/tile-laptop.jpg",
                        "title": "IHT... Avoid the Hit",
                        "categoryName": "Tax",
                        "categoryTheme": "orange",
                        "imgSrc": "/img/avatar-graeme2.jpg",
                        "imgAlt": "",
                        "prefix": "by",
                        "firstName": "Graeme",
                        "lastName": "Robb",
                        "dateDay": "22",
                        "dateMonth": "Jan",
                        "dateYear": "2016"
                    )}}
                </a>
            </div>
            <div class="col-sm-4">
                <a class="c-tile--link" href="/patterns/pages-article-3/pages-article-3.html">
                    {{> components-tile(
                        "rectangle": false,
                        "backgroundSrc": "/img/tile-coinJar.jpg",
                        "title": "ISAy...ISAy...ISAy...",
                        "categoryName": "Investments",
                        "categoryTheme": "gold",
                        "imgSrc": "/img/avatar-Graham.jpg",
                        "imgAlt": "Graeme Ballantyne",
                        "prefix": "by",
                        "firstName": "Graeme",
                        "lastName": "Ballantyne",
                        "dateDay": "25",
                        "dateMonth": "Jan",
                        "dateYear": "2016"
                    )}}
                </a>
            </div>
        <div class="row row--no-gutter">
            <div class="col-sm-4">
                <a class="c-tile--link" href="/patterns/pages-article-6/pages-article-6.html">
                    {{> components-tile(
                        "rectangle": false,
                        "backgroundSrc": "/img/pensions-placeholder/tile-pensionPlaceholder1.jpg",
                        "title": "TBC",
                        "categoryName": "pensions",
                        "categoryTheme": "navy",
                        "imgSrc": "/img/avatar-paul.jpg",
                        "imgAlt": "Paul Rutland",
                        "prefix": "by",
                        "firstName": "Paul",
                        "lastName": "Rutland",
                        "dateDay": "24",
                        "dateMonth": "Jan",
                        "dateYear": "2016"
                    )}}
                </a>
            </div>
            <div class="col-sm-4">
                <a class="c-tile--link" href="/patterns/pages-article-7/pages-article-7.html">
                    {{> components-tile(
                        "rectangle": false,
                        "backgroundSrc": "/img/tile-learningPlaceholder1.jpg",
                        "title": "TBC",
                        "categoryName": "learning",
                        "categoryTheme": "purple",
                        "imgSrc": "/img/avatar-graeme2.jpg",
                        "imgAlt": "Graeme Robb",
                        "prefix": "by",
                        "firstName": "Graeme",
                        "lastName": "Robb",
                        "dateDay": "22",
                        "dateMonth": "Jan",
                        "dateYear": "2016"
                    )}}
                </a>
            </div>
            <div class="col-sm-4">
                <a class="c-tile--link" href="/patterns/pages-article-5/pages-article-5.html">
                    {{> components-tile(
                        "rectangle": false,
                        "backgroundSrc": "/img/pensions-placeholder/tile-pensionPlaceholder2.jpg",
                        "title": "TBC",
                        "categoryName": "pensions",
                        "categoryTheme": "navy",
                        "imgSrc": "/img/avatar-Martin.jpg",
                        "imgAlt": "Martin Green",
                        "prefix": "by",
                        "firstName": "Martin",
                        "lastName": "Green",
                        "dateDay": "22",
                        "dateMonth": "Jan",
                        "dateYear": "2016"
                    )}}
                </a>
            </div>
        </div>
</div>