{{> components-header }}

{{> components-primary-nav }}

<div class="o-body">
    <a class="c-tile--link" href="/patterns/pages-pensions/pages-pensions.html">
    {{> components-tile(
    "section" : true,
    "backgroundSrc": "/img/tile-pensions.jpg",
    "title": "Pensions",
    "categoryName": "Pensions",
    "categoryTheme": "navy",
    "imgSrc": "/img/avatar-Les.jpg",
    "imgAlt": "pensions",
    "prefix": "by",
    "firstName": "Pensions",
    "lastName": "Pensions",
    "dateDay": "n/a",
    "dateMonth": "n/a",
    "dateYear": "n/a"
    )}}
    </a>
    <a class="c-tile--link" href="/patterns/pages-tax/pages-tax.html">
    {{> components-tile(
    "section" : true,
    "backgroundSrc": "/img/tile-tax.jpg",
    "title": "Tax",
    "categoryName": "Tax",
    "categoryTheme": "orange",
    "imgSrc": "/img/avatar-Les.jpg",
    "imgAlt": "tax",
    "prefix": "by",
    "firstName": "Tax",
    "lastName": "Tax",
    "dateDay": "n/a",
    "dateMonth": "n/a",
    "dateYear": "n/a"
    )}}
    </a>
    <a class="c-tile--link" href="/patterns/pages-investments/pages-investments.html">
    {{> components-tile(
    "section" : true,
    "backgroundSrc": "/img/tile-investment.jpg",
    "title": "Investments",
    "categoryName": "Investments",
    "categoryTheme": "gold",
    "imgSrc": "/img/avatar-Les.jpg",
    "imgAlt": "Investments",
    "prefix": "by",
    "firstName": "Investments",
    "lastName": "Investments",
    "dateDay": "n/a",
    "dateMonth": "n/a",
    "dateYear": "n/a"
    )}}
    </a>
    <a class="c-tile--link" href="/patterns/pages-business/pages-business.html">
    {{> components-tile(
    "section" : true,
    "backgroundSrc": "/img/tile-business.jpg",
    "title": "Business",
    "categoryName": "Business",
    "categoryTheme": "green",
    "imgSrc": "/img/avatar-Les.jpg",
    "imgAlt": "Business",
    "prefix": "by",
    "firstName": "Business",
    "lastName": "Business",
    "dateDay": "n/a",
    "dateMonth": "n/a",
    "dateYear": "n/a"
    )}}
</a>
    <a class="c-tile--link" href="/patterns/pages-learning/pages-learning.html">
    {{> components-tile(
    "section" : true,
    "backgroundSrc": "/img/tile-learning.jpg",
    "title": "Learning",
    "categoryName": "Learning",
    "categoryTheme": "purple",
    "imgSrc": "/img/avatar-Les.jpg",
    "imgAlt": "learning",
    "prefix": "by",
    "firstName": "Learning",
    "lastName": "Learning",
    "dateDay": "n/a",
    "dateMonth": "n/a",
    "dateYear": "n/a"
    )}}
    </a>
</div>
