{{> components-header (
        "hasBackLink": true
)}}

{{> components-primary-nav }}

    {{> components-tile(
    "rectangle": true,
    "backgroundSrc": "/img/tile-pen.jpg",
    "title": "School of hard knocks ",
    "categoryName": "Investments",
    "categoryTheme": "gold",
    "imgSrc": "/img/avatar-paul.jpg",
    "imgAlt": "Paul Rutland",
    "prefix": "by",
    "firstName": "Paul",
    "lastName": "Rutland",
    "dateDay": "25",
    "dateMonth": "Jan",
    "dateYear": "2016"
    )}}

<div class="o-body">

    <div class="container container--padded-top">
        {{> components-author(
        "bordered": true,
        "imgSrc": "/img/avatar-paul.jpg",
        "imgAlt": "Paul Rutland",
        "prefix": "by",
        "firstName": "Paul",
        "lastName": "Rutland",
        "dateDay": "25",
        "dateMonth": "Jan",
        "dateYear": "2016"
        )}}


    <div class="c-article">
        <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, autem earum eligendi excepturi
            itaque laudantium maxime praesentium quam sed tempora, tempore velit. Dolores exercitationem praesentium
            quasi repellendus sed tempore voluptates!</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, delectus deleniti distinctio id illo
            iste laudantium maxime quasi rem similique. Accusantium at corporis, distinctio dolorem doloremque enim
            est explicabo ipsum non officia omnis quos recusandae rem suscipit tempore, tenetur vel?</p>
        <p>Amet atque esse fuga temporibus unde? Commodi consectetur consequatur ducimus eos eum explicabo harum
            ipsa ipsam ipsum minima perspiciatis quae quaerat, quidem quod similique sit vel velit! Accusantium
            aliquam, dolore eos et illum incidunt inventore magnam perspiciatis repellendus vitae, voluptates!</p>
        <p>Mollitia, placeat, voluptas. Ad assumenda commodi debitis deleniti earum eum expedita explicabo, id
            laboriosam minima modi nam, officiis praesentium quos recusandae similique sint, sit sunt tempora
            tenetur! Adipisci asperiores incidunt sunt! Impedit iste nobis reiciendis reprehenderit, sint sunt
            tempore vero.</p>
    </div>

        {{> components-table }}

        {{> components-title-divider(
        'title': "Head Teacher's comments"
        )}}

        <div class="c-article">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae cupiditate deserunt
                dignissimos dolores, earum ex excepturi ipsam ipsum laborum maiores, modi molestiae nam nemo pariatur
                reiciendis repudiandae sunt voluptatibus?</p>
            <p>Commodi earum eius ex hic impedit laudantium mollitia nam optio, praesentium, quae quidem tempora ullam!
                Accusamus delectus, eius eveniet facere fuga, inventore, ipsam minus numquam perferendis quam quod
                veniam vero?</p>
            <p>Aut autem, blanditiis consequatur ea error eveniet impedit laborum pariatur praesentium quas quibusdam
                quo, reiciendis voluptatem! Aliquid aperiam cum dicta fuga itaque laudantium magni minima non
                repellendus sint. Iste, soluta.</p>
        </div>

        {{> components-title-divider(
        'title': "About the Author"
        )}}


        {{> components-info(
        "title": "Paul Rutland",
        "subTitle": " ",
        "summary": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ea illo impedit ipsa maiores molestiae nesciunt officiis, omnis quia quis reiciendis soluta tempore, voluptatem. Blanditiis illum obcaecati qui quia reprehenderit. Ab aliquid beatae cum cumque dolorem dolores ducimus fugit neque numquam quaerat, rem repellat velit? Animi aperiam aspernatur at dolor, doloremque, eligendi enim illum maxime perferendis, placeat repellat repudiandae? Ab aut cupiditate, eligendi error est labore nostrum odit quis sit. Dolorem eius, incidunt? Aut commodi, corporis debitis enim esse fugiat magni nisi, quam quas ratione tenetur velit veritatis voluptatibus. Atque incidunt nam quod! Ab deserunt, dolores iste magnam omnis quibusdam!" ,
        "imgVisible": true,
        "imgSrc": "/img/avatar-paul.jpg",
        "imgAlt": "Paul Rutland"
        )}}
    </div>

    <div class="row--no-gutter">
        <div class="col-sm-4">
            <a class="c-tile--link" href="/patterns/pages-article-1/pages-article-1.html">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/rect-SomeThingsNeverChange.jpg",
            "title": "Some things never change",
            "categoryName": "Tax",
            "categoryTheme": "orange",
            "imgSrc": "/img/avatar-Les.jpg",
            "imgAlt": "Les Cameron",
            "prefix": "by",
            "firstName": "Les",
            "lastName": "Cameron",
            "dateDay": "24",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
            </a>
        </div>
        <div class="col-sm-4">

            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-laptop.jpg",
            "title": "IHT... Avoid the Hit",
            "categoryName": "Tax",
            "categoryTheme": "orange",
            "imgSrc": "/img/sample-avatar.jpg",
            "imgAlt": "",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Robb",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}

        </div>
        <div class="col-sm-4">
            <a class="c-tile--link" href="/patterns/pages-article-2/pages-article-2.html">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/rect-MaxOppFromBank.jpg",
            "title": "Maximing opportunites from your client bank ",
            "categoryName": "Business",
            "categoryTheme": "green",
            "imgSrc": "/img/avatar-Graham.jpg",
            "imgAlt": "Graeme Ballantyne",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Ballantyne",
            "dateDay": "25",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
        </div>



</div>