{{> components-header (
    "hasBackLink": true
)}}

{{> components-primary-nav }}

<div class="o-body">

    {{> components-tile(
        "rectangle": true,
        "backgroundSrc": "/img/rect-SomeThingsNeverChange.jpg",
        "title": "Some things never change",
        "categoryName": "Tax",
        "categoryTheme": "orange",
        "imgSrc": "/img/avatar-Les.jpg",
        "imgAlt": "Les Cameron",
        "prefix": "by",
        "firstName": "Les",
        "lastName": "Cameron",
        "dateDay": "26",
        "dateMonth": "Jan",
        "dateYear": "2016"
    )}}

    <div class="container container--padded-top">

        {{> components-author(
            "bordered": true,
            "imgSrc": "/img/avatar-Les.jpg",
            "imgAlt": "Les Cameron",
            "prefix": "by",
            "firstName": "Les",
            "lastName": "Cameron",
            "dateDay": "26",
            "dateMonth": "Jan",
            "dateYear": "2016"
        )}}

        <div class="c-article">
            <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, autem earum eligendi excepturi
                itaque laudantium maxime praesentium quam sed tempora, tempore velit. Dolores exercitationem praesentium
                quasi repellendus sed tempore voluptates!</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, delectus deleniti distinctio id illo
                iste laudantium maxime quasi rem similique. Accusantium at corporis, distinctio dolorem doloremque enim
                est explicabo ipsum non officia omnis quos recusandae rem suscipit tempore, tenetur vel?</p>
            <p>Amet atque esse fuga temporibus unde? Commodi consectetur consequatur ducimus eos eum explicabo harum
                ipsa ipsam ipsum minima perspiciatis quae quaerat, quidem quod similique sit vel velit! Accusantium
                aliquam, dolore eos et illum incidunt inventore magnam perspiciatis repellendus vitae, voluptates!</p>
            <p>Mollitia, placeat, voluptas. Ad assumenda commodi debitis deleniti earum eum expedita explicabo, id
                laboriosam minima modi nam, officiis praesentium quos recusandae similique sint, sit sunt tempora
                tenetur! Adipisci asperiores incidunt sunt! Impedit iste nobis reiciendis reprehenderit, sint sunt
                tempore vero.</p>
        </div>

        {{> components-title-divider(
            'title': 'Watch this video'
        )}}

    </div>

    {{> components-video(
        "allowFullScreen": true,
        "src": "https://www.youtube.com/embed/hh4p3vkCAeM"
    )}}


    <div class="container container--padded-top">
        <div class="c-article">
            <h4>This is a title</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, delectus deleniti distinctio id illo
                iste laudantium maxime quasi rem similique. Accusantium at corporis, distinctio dolorem doloremque enim
                est explicabo ipsum non officia omnis quos recusandae rem suscipit tempore, tenetur vel?</p>
            <p>Amet atque esse fuga temporibus unde? Commodi consectetur consequatur ducimus eos eum explicabo harum
                ipsa ipsam ipsum minima perspiciatis quae quaerat, quidem quod similique sit vel velit! Accusantium
                aliquam, dolore eos et illum incidunt inventore magnam perspiciatis repellendus vitae, voluptates!</p>
            <p>Mollitia, placeat, voluptas. Ad assumenda commodi debitis deleniti earum eum expedita explicabo, id
                laboriosam minima modi nam, officiis praesentium quos recusandae similique sint, sit sunt tempora
                tenetur! Adipisci asperiores incidunt sunt! Impedit iste nobis reiciendis reprehenderit, sint sunt
                tempore vero.</p>
        </div>

        {{> components-table }}


        {{> components-title-divider(
            'title': 'About the author'
        )}}

        {{> components-info(
            "title": "Les Cameron",
            "subTitle": "Head of Technical at Prudential, based in Craigforth, Stirling",
            "summary": "Les covers areas of financial planning, specialising in the pensions technical arena. Les joined Prudential in 1887 and has held various pensions technical and management role throughout his career. Les holds the Advanced Diploma of the Personal Finance Society and has a BA in Financial Studies.",
            "imgVisible": true,
            "imgSrc": "/img/avatar-Les.jpg",
            "imgAlt": "Les Cameron"
        )}}

        {{> components-title-divider(
        'title': 'Related articles'
        )}}

    </div>

    <div class="row--no-gutter">
        <div class="col-sm-4">
            <a class="c-tile--link" href="/patterns/pages-article-4/pages-article-4.html">
                {{> components-tile(
                "rectangle": false,
                "backgroundSrc": "/img/tile-pen.jpg",
                "title": "School of hard knocks",
                "categoryName": "Investments",
                "categoryTheme": "gold",
                "imgSrc": "/img/sample-avatar.jpg",
                "imgAlt": "",
                "prefix": "by",
                "firstName": "Paul",
                "lastName": "Rutland",
                "dateDay": "24",
                "dateMonth": "Jan",
                "dateYear": "2016"
                )}}
            </a>
        </div>
        <div class="col-sm-4">

            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-laptop.jpg",
            "title": "IHT... Avoid the Hit",
            "categoryName": "Tax",
            "categoryTheme": "orange",
            "imgSrc": "/img/sample-avatar.jpg",
            "imgAlt": "",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Robb",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}

        </div>
        <div class="col-sm-4">
            <a class="c-tile--link" href="/patterns/pages-article-3/pages-article-3.html">
                {{> components-tile(
                "rectangle": false,
                "backgroundSrc": "/img/tile-coinJar.jpg",
                "title": "ISAy...ISAy...ISAy...",
                "categoryName": "Investments",
                "categoryTheme": "gold",
                "imgSrc": "/img/sample-avatar.jpg",
                "imgAlt": "",
                "prefix": "by",
                "firstName": "Martin",
                "lastName": "Green",
                "dateDay": "22",
                "dateMonth": "Jan",
                "dateYear": "2016"
                )}}
            </a>
        </div>
    </div>

</div>