{{> components-header (
        "hasBackLink": true
)}}

{{> components-primary-nav }}

<div class="o-body row row--no-gutter">
            {{> components-tile(
            "strip" : true,
            "backgroundSrc": "/img/tile-business.jpg",
            "title": "Business Articles",
            "categoryName": "Business",
            "categoryTheme": "green",
            "imgSrc": "/img/avatar-Les.jpg",
            "imgAlt": "Business",
            "prefix": "by",
            "firstName": "Business",
            "lastName": "Business",
            "dateDay": "n/a",
            "dateMonth": "n/a",
            "dateYear": "n/a"
            )}}
    <div class="col-sm-6">
        <a class="c-tile--link" href="/patterns/pages-article-2/pages-article-2.html">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/rect-MaxOppFromBank.jpg",
            "title": "Maximising opportunites from your client bank",
            "categoryName": "business",
            "categoryTheme": "green",
            "imgSrc": "/img/avatar-Graham.jpg",
            "imgAlt": "Graeme Ballantyne",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Ballantyne",
            "dateDay": "24",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-businessPlaceholder1.jpg",
            "title": "TBC",
            "categoryName": "business",
            "categoryTheme": "green",
            "imgSrc": "/img/avatar-Graham.jpg",
            "imgAlt": "Graeme Ballantyne",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Ballantyne",
            "dateDay": "24",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-businessPlaceholder2.jpg",
            "title": "TBC",
            "categoryName": "business",
            "categoryTheme": "green",
            "imgSrc": "/img/avatar-Graham.jpg",
            "imgAlt": "Graeme Ballantyne",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Ballantyne",
            "dateDay": "24",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-businessPlaceholder3.jpg",
            "title": "TBC",
            "categoryName": "business",
            "categoryTheme": "green",
            "imgSrc": "/img/avatar-Graham.jpg",
            "imgAlt": "Graeme Ballantyne",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Ballantyne",
            "dateDay": "24",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
        {{> components-tile(
        "rectangle": false,
        "backgroundSrc": "/img/tile-businessPlaceholder4.jpg",
        "title": "TBC",
        "categoryName": "business",
        "categoryTheme": "green",
        "imgSrc": "/img/avatar-Graham.jpg",
        "imgAlt": "Graeme Ballantyne",
        "prefix": "by",
        "firstName": "Graeme",
        "lastName": "Ballantyne",
        "dateDay": "24",
        "dateMonth": "Jan",
        "dateYear": "2016"
        )}}
    </a>
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-businessPlaceholder5.jpg",
            "title": "TBC",
            "categoryName": "business",
            "categoryTheme": "green",
            "imgSrc": "/img/avatar-Graham.jpg",
            "imgAlt": "Graeme Ballantyne",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Ballantyne",
            "dateDay": "24",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>
</div>