{{> components-header (
        "hasBackLink": true
)}}


{{> components-primary-nav }}

<div class="o-body row row--no-gutter">
            {{> components-tile(
            "strip" : true,
            "backgroundSrc": "/img/tile-investment.jpg",
            "title": "Investments Articles",
            "categoryName": "Investments",
            "categoryTheme": "gold",
            "imgSrc": "/img/avatar-Les.jpg",
            "imgAlt": "Investments",
            "prefix": "by",
            "firstName": "Investments",
            "lastName": "Investments",
            "dateDay": "n/a",
            "dateMonth": "n/a",
            "dateYear": "n/a"
            )}}
    <div class="col-sm-6">
        <a class="c-tile--link" href="/patterns/pages-article-4/pages-article-4.html">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-pen.jpg",
            "title": "School of hard knocks",
            "categoryName": "Investments",
            "categoryTheme": "gold",
            "imgSrc": "/img/avatar-paul.jpg",
            "imgAlt": "Paul Rutland",
            "prefix": "by",
            "firstName": "Paul",
            "lastName": "Rutland",
            "dateDay": "25",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="/patterns/pages-article-3/pages-article-3.html">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-coinJar.jpg",
            "title": "ISAy...ISAy...ISAy...",
            "categoryName": "Investments",
            "categoryTheme": "gold",
            "imgSrc": "/img/avatar-Martin.jpg",
            "imgAlt": "",
            "prefix": "by",
            "firstName": "Martin",
            "lastName": "Green",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-investmentPlaceholder1.jpg",
            "title": "TBC",
            "categoryName": "Investments",
            "categoryTheme": "gold",
            "imgSrc": "/img/avatar-Martin.jpg",
            "imgAlt": "",
            "prefix": "by",
            "firstName": "Martin",
            "lastName": "Green",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-investmentPlaceholder2.jpg",
            "title": "TBC",
            "categoryName": "Investments",
            "categoryTheme": "gold",
            "imgSrc": "/img/avatar-Martin.jpg",
            "imgAlt": "",
            "prefix": "by",
            "firstName": "Martin",
            "lastName": "Green",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-investmentPlaceholder3.jpg",
            "title": "TBC",
            "categoryName": "Investments",
            "categoryTheme": "gold",
            "imgSrc": "/img/avatar-Martin.jpg",
            "imgAlt": "",
            "prefix": "by",
            "firstName": "Martin",
            "lastName": "Green",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-investmentPlaceholder4.jpg",
            "title": "TBC",
            "categoryName": "Investments",
            "categoryTheme": "gold",
            "imgSrc": "/img/avatar-Martin.jpg",
            "imgAlt": "",
            "prefix": "by",
            "firstName": "Martin",
            "lastName": "Green",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>
</div>