{{> components-header (
        "hasBackLink": true
)}}


{{> components-primary-nav }}

<div class="o-body row row--no-gutter">
            {{> components-tile(
            "strip" : true,
            "backgroundSrc": "/img/tile-learning.jpg",
            "title": "Learning Articles",
            "categoryName": "Learning",
            "categoryTheme": "purple",
            "imgSrc": "/img/avatar-Les.jpg",
            "imgAlt": "learning",
            "prefix": "by",
            "firstName": "Learning",
            "lastName": "Learning",
            "dateDay": "n/a",
            "dateMonth": "n/a",
            "dateYear": "n/a"
            )}}
    <div class="col-sm-6">
        <a class="c-tile--link" href="/patterns/pages-article-7/pages-article-7.html">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-learningPlaceholder1.jpg",
            "title": "TBC",
            "categoryName": "learning",
            "categoryTheme": "purple",
            "imgSrc": "/img/avatar-graeme2.jpg",
            "imgAlt": "Graeme Robb",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Robb",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-learningPlaceholder2.jpg",
            "title": "TBC",
            "categoryName": "learning",
            "categoryTheme": "purple",
            "imgSrc": "/img/avatar-graeme2.jpg",
            "imgAlt": "Graeme Robb",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Robb",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-learningPlaceholder3.jpg",
            "title": "TBC",
            "categoryName": "learning",
            "categoryTheme": "purple",
            "imgSrc": "/img/avatar-graeme2.jpg",
            "imgAlt": "Graeme Robb",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Robb",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-learningPlaceholder4.jpg",
            "title": "TBC",
            "categoryName": "learning",
            "categoryTheme": "purple",
            "imgSrc": "/img/avatar-graeme2.jpg",
            "imgAlt": "Graeme Robb",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Robb",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-learningPlaceholder5.jpg",
            "title": "TBC",
            "categoryName": "learning",
            "categoryTheme": "purple",
            "imgSrc": "/img/avatar-graeme2.jpg",
            "imgAlt": "Graeme Robb",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Robb",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-learningPlaceholder6.jpg",
            "title": "TBC",
            "categoryName": "learning",
            "categoryTheme": "purple",
            "imgSrc": "/img/avatar-graeme2.jpg",
            "imgAlt": "Graeme Robb",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Robb",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>
</div>