{{> components-header (
        "hasBackLink": true
)}}


{{> components-primary-nav }}

<div class="o-body row row--no-gutter">
            {{> components-tile(
            "strip" : true,
            "backgroundSrc": "/img/tile-pensions.jpg",
            "title": "Pensions Articles",
            "categoryName": "Pensions",
            "categoryTheme": "navy",
            "imgSrc": "/img/avatar-Les.jpg",
            "imgAlt": "pensions",
            "prefix": "by",
            "firstName": "Pensions",
            "lastName": "Pensions",
            "dateDay": "n/a",
            "dateMonth": "n/a",
            "dateYear": "n/a"
            )}}
    <div class="col-sm-6">
        <a class="c-tile--link" href="/patterns/pages-article-5/pages-article-5.html">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/pensions-placeholder/tile-pensionPlaceholder2.jpg",
            "title": "TBC",
            "categoryName": "pensions",
            "categoryTheme": "navy",
            "imgSrc": "/img/avatar-Martin.jpg",
            "imgAlt": "Martin Green",
            "prefix": "by",
            "firstName": "Martin",
            "lastName": "Green",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="/patterns/pages-article-6/pages-article-6.html">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/pensions-placeholder/tile-pensionPlaceholder1.jpg",
            "title": "TBC",
            "categoryName": "pensions",
            "categoryTheme": "navy",
            "imgSrc": "/img/avatar-paul.jpg",
            "imgAlt": "Paul Rutland",
            "prefix": "by",
            "firstName": "Paul",
            "lastName": "Rutland",
            "dateDay": "24",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/pensions-placeholder/tile-pensionsPlaceholder3.jpg",
            "title": "TBC",
            "categoryName": "pensions",
            "categoryTheme": "navy",
            "imgSrc": "/img/avatar-paul.jpg",
            "imgAlt": "Paul Rutland",
            "prefix": "by",
            "firstName": "Paul",
            "lastName": "Rutland",
            "dateDay": "24",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/pensions-placeholder/tile-pensionsPlaceholder4.jpg",
            "title": "TBC",
            "categoryName": "pensions",
            "categoryTheme": "navy",
            "imgSrc": "/img/avatar-paul.jpg",
            "imgAlt": "Paul Rutland",
            "prefix": "by",
            "firstName": "Paul",
            "lastName": "Rutland",
            "dateDay": "24",
            "dateMonth": "Jan",
            "dateYear": "2016"

            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/pensions-placeholder/tile-pensionsPlaceholder5.jpg",
            "title": "TBC",
            "categoryName": "pensions",
            "categoryTheme": "navy",
            "imgSrc": "/img/avatar-paul.jpg",
            "imgAlt": "Paul Rutland",
            "prefix": "by",
            "firstName": "Paul",
            "lastName": "Rutland",
            "dateDay": "24",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/pensions-placeholder/tile-pensionsPlaceholder6.jpg",
            "title": "TBC",
            "categoryName": "pensions",
            "categoryTheme": "navy",
            "imgSrc": "/img/avatar-paul.jpg",
            "imgAlt": "Paul Rutland",
            "prefix": "by",
            "firstName": "Paul",
            "lastName": "Rutland",
            "dateDay": "24",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>
</div>
