{{> components-header (
        "hasBackLink": true
)}}


{{> components-primary-nav }}

<div class="o-body row row--no-gutter">
            {{> components-tile(
            "strip" : true,
            "backgroundSrc": "/img/tile-tax.jpg",
            "title": "Tax Articles",
            "categoryName": "Tax",
            "categoryTheme": "orange",
            "imgSrc": "/img/avatar-Les.jpg",
            "imgAlt": "tax",
            "prefix": "by",
            "firstName": "Tax",
            "lastName": "Tax",
            "dateDay": "n/a",
            "dateMonth": "n/a",
            "dateYear": "n/a"
            )}}
    <div class="col-sm-6">
        <a class="c-tile--link" href="/patterns/pages-article-1/pages-article-1.html">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/rect-SomeThingsNeverChange.jpg",
            "title": "Some things never change",
            "categoryName": "Tax",
            "categoryTheme": "orange",
            "imgSrc": "/img/avatar-Les.jpg",
            "imgAlt": "Les Cameron",
            "prefix": "by",
            "firstName": "Les",
            "lastName": "Cameron",
            "dateDay": "26",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-laptop.jpg",
            "title": "IHT... Avoid the Hit",
            "categoryName": "Tax",
            "categoryTheme": "orange",
            "imgSrc": "/img/avatar-graeme2.jpg",
            "imgAlt": "",
            "prefix": "by",
            "firstName": "Graeme",
            "lastName": "Robb",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-taxPlaceholder.jpg",
            "title": "TBC",
            "categoryName": "Tax",
            "categoryTheme": "orange",
            "imgSrc": "/img/avatar-Les.jpg",
            "imgAlt": "Les Cameron",
            "prefix": "by",
            "firstName": "Les",
            "lastName": "Cameron",
            "dateDay": "26",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-taxPlaceholder2.jpg",
            "title": "TBC",
            "categoryName": "Tax",
            "categoryTheme": "orange",
            "imgSrc": "/img/avatar-Les.jpg",
            "imgAlt": "Les Cameron",
            "prefix": "by",
            "firstName": "Les",
            "lastName": "Cameron",
            "dateDay": "26",
            "dateMonth": "Jan",
            "dateYear": "2016"

            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/tile-taxPlaceholder3.jpg",
            "title": "TBC",
            "categoryName": "Tax",
            "categoryTheme": "orange",
            "imgSrc": "/img/avatar-Les.jpg",
            "imgAlt": "Les Cameron",
            "prefix": "by",
            "firstName": "Les",
            "lastName": "Cameron",
            "dateDay": "26",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>

    <div class="col-sm-6">
        <a class="c-tile--link" href="#">
            {{> components-tile(
            "rectangle": false,
            "backgroundSrc": "/img/rect-taxWasteLand.jpg",
            "title": "Life in the tax waste land",
            "categoryName": "Tax",
            "categoryTheme": "orange",
            "imgSrc": "/img/avatar-karen.jpg",
            "imgAlt": "Karen Barret",
            "prefix": "by",
            "firstName": "Karen",
            "lastName": "Barret",
            "dateDay": "22",
            "dateMonth": "Jan",
            "dateYear": "2016"
            )}}
        </a>
    </div>
</div>