{{&gt; components-header (
        &quot;hasBackLink&quot;: true
)}}


{{&gt; components-primary-nav }}

&lt;div class=&quot;o-body row row--no-gutter&quot;&gt;
            {{&gt; components-tile(
            &quot;strip&quot; : true,
            &quot;backgroundSrc&quot;: &quot;/img/tile-pensions.jpg&quot;,
            &quot;title&quot;: &quot;Pensions Articles&quot;,
            &quot;categoryName&quot;: &quot;Pensions&quot;,
            &quot;categoryTheme&quot;: &quot;navy&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
            &quot;imgAlt&quot;: &quot;pensions&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Pensions&quot;,
            &quot;lastName&quot;: &quot;Pensions&quot;,
            &quot;dateDay&quot;: &quot;n/a&quot;,
            &quot;dateMonth&quot;: &quot;n/a&quot;,
            &quot;dateYear&quot;: &quot;n/a&quot;
            )}}
    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-5/pages-article-5.html&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/pensions-placeholder/tile-pensionPlaceholder2.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;pensions&quot;,
            &quot;categoryTheme&quot;: &quot;navy&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Martin.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Martin Green&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Martin&quot;,
            &quot;lastName&quot;: &quot;Green&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-6/pages-article-6.html&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/pensions-placeholder/tile-pensionPlaceholder1.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;pensions&quot;,
            &quot;categoryTheme&quot;: &quot;navy&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-paul.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Paul Rutland&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Paul&quot;,
            &quot;lastName&quot;: &quot;Rutland&quot;,
            &quot;dateDay&quot;: &quot;24&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/pensions-placeholder/tile-pensionsPlaceholder3.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;pensions&quot;,
            &quot;categoryTheme&quot;: &quot;navy&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-paul.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Paul Rutland&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Paul&quot;,
            &quot;lastName&quot;: &quot;Rutland&quot;,
            &quot;dateDay&quot;: &quot;24&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/pensions-placeholder/tile-pensionsPlaceholder4.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;pensions&quot;,
            &quot;categoryTheme&quot;: &quot;navy&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-paul.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Paul Rutland&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Paul&quot;,
            &quot;lastName&quot;: &quot;Rutland&quot;,
            &quot;dateDay&quot;: &quot;24&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;

            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/pensions-placeholder/tile-pensionsPlaceholder5.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;pensions&quot;,
            &quot;categoryTheme&quot;: &quot;navy&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-paul.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Paul Rutland&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Paul&quot;,
            &quot;lastName&quot;: &quot;Rutland&quot;,
            &quot;dateDay&quot;: &quot;24&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/pensions-placeholder/tile-pensionsPlaceholder6.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;pensions&quot;,
            &quot;categoryTheme&quot;: &quot;navy&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-paul.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Paul Rutland&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Paul&quot;,
            &quot;lastName&quot;: &quot;Rutland&quot;,
            &quot;dateDay&quot;: &quot;24&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
