{{&gt; components-header }}

{{&gt; components-primary-nav }}

&lt;div class=&quot;o-body&quot;&gt;
    &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-pensions/pages-pensions.html&quot;&gt;
    {{&gt; components-tile(
    &quot;section&quot; : true,
    &quot;backgroundSrc&quot;: &quot;/img/tile-pensions.jpg&quot;,
    &quot;title&quot;: &quot;Pensions&quot;,
    &quot;categoryName&quot;: &quot;Pensions&quot;,
    &quot;categoryTheme&quot;: &quot;navy&quot;,
    &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
    &quot;imgAlt&quot;: &quot;pensions&quot;,
    &quot;prefix&quot;: &quot;by&quot;,
    &quot;firstName&quot;: &quot;Pensions&quot;,
    &quot;lastName&quot;: &quot;Pensions&quot;,
    &quot;dateDay&quot;: &quot;n/a&quot;,
    &quot;dateMonth&quot;: &quot;n/a&quot;,
    &quot;dateYear&quot;: &quot;n/a&quot;
    )}}
    &lt;/a&gt;
    &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-tax/pages-tax.html&quot;&gt;
    {{&gt; components-tile(
    &quot;section&quot; : true,
    &quot;backgroundSrc&quot;: &quot;/img/tile-tax.jpg&quot;,
    &quot;title&quot;: &quot;Tax&quot;,
    &quot;categoryName&quot;: &quot;Tax&quot;,
    &quot;categoryTheme&quot;: &quot;orange&quot;,
    &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
    &quot;imgAlt&quot;: &quot;tax&quot;,
    &quot;prefix&quot;: &quot;by&quot;,
    &quot;firstName&quot;: &quot;Tax&quot;,
    &quot;lastName&quot;: &quot;Tax&quot;,
    &quot;dateDay&quot;: &quot;n/a&quot;,
    &quot;dateMonth&quot;: &quot;n/a&quot;,
    &quot;dateYear&quot;: &quot;n/a&quot;
    )}}
    &lt;/a&gt;
    &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-investments/pages-investments.html&quot;&gt;
    {{&gt; components-tile(
    &quot;section&quot; : true,
    &quot;backgroundSrc&quot;: &quot;/img/tile-investment.jpg&quot;,
    &quot;title&quot;: &quot;Investments&quot;,
    &quot;categoryName&quot;: &quot;Investments&quot;,
    &quot;categoryTheme&quot;: &quot;gold&quot;,
    &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
    &quot;imgAlt&quot;: &quot;Investments&quot;,
    &quot;prefix&quot;: &quot;by&quot;,
    &quot;firstName&quot;: &quot;Investments&quot;,
    &quot;lastName&quot;: &quot;Investments&quot;,
    &quot;dateDay&quot;: &quot;n/a&quot;,
    &quot;dateMonth&quot;: &quot;n/a&quot;,
    &quot;dateYear&quot;: &quot;n/a&quot;
    )}}
    &lt;/a&gt;
    &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-business/pages-business.html&quot;&gt;
    {{&gt; components-tile(
    &quot;section&quot; : true,
    &quot;backgroundSrc&quot;: &quot;/img/tile-business.jpg&quot;,
    &quot;title&quot;: &quot;Business&quot;,
    &quot;categoryName&quot;: &quot;Business&quot;,
    &quot;categoryTheme&quot;: &quot;green&quot;,
    &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
    &quot;imgAlt&quot;: &quot;Business&quot;,
    &quot;prefix&quot;: &quot;by&quot;,
    &quot;firstName&quot;: &quot;Business&quot;,
    &quot;lastName&quot;: &quot;Business&quot;,
    &quot;dateDay&quot;: &quot;n/a&quot;,
    &quot;dateMonth&quot;: &quot;n/a&quot;,
    &quot;dateYear&quot;: &quot;n/a&quot;
    )}}
&lt;/a&gt;
    &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-learning/pages-learning.html&quot;&gt;
    {{&gt; components-tile(
    &quot;section&quot; : true,
    &quot;backgroundSrc&quot;: &quot;/img/tile-learning.jpg&quot;,
    &quot;title&quot;: &quot;Learning&quot;,
    &quot;categoryName&quot;: &quot;Learning&quot;,
    &quot;categoryTheme&quot;: &quot;purple&quot;,
    &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
    &quot;imgAlt&quot;: &quot;learning&quot;,
    &quot;prefix&quot;: &quot;by&quot;,
    &quot;firstName&quot;: &quot;Learning&quot;,
    &quot;lastName&quot;: &quot;Learning&quot;,
    &quot;dateDay&quot;: &quot;n/a&quot;,
    &quot;dateMonth&quot;: &quot;n/a&quot;,
    &quot;dateYear&quot;: &quot;n/a&quot;
    )}}
    &lt;/a&gt;
&lt;/div&gt;
