/*
================================================================================
 _generic.reset
================================================================================
*/


// [1] Setting the global 'box-sizing' state.
// [2] Remove 'tap-highlight-color' in webkit browsers.

html {
  box-sizing: border-box; // [1]
  -webkit-tap-highlight-color: rgba(0,0,0,0); // [2]
  font-family: open-sans-regular;
}

* {

  &,
  &:before,
  &:after {
    box-sizing: inherit; // [1]
  }
}


// As well as using normalize.css, it is useful to remove all 'margin' and
// 'padding' from certain elements.

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}
