/*
================================================================================
 _generic.page
================================================================================
*/

// The <html> element represents the root of an HTML document.

// [1] Set a ground-zero 'font-size'.
// [2] Set a ground-zero 'line-height'.
// [3] Set ground-zero font properties.

html {
    font-size: $base-font-size; // [1]
    line-height: $base-line-height; // [2]
   	font-family: open-sans-regular; // [3]

	//@include breakpoint-up(md) {
	//	font-size: $core-font-size + 2;
	//}
    //
	//@include breakpoint-up(lg) {
	//	font-size: $core-font-size + 4;
	//}
}


// The <body> element represents the content of an HTML document. 

// [1] Set a ground-zero 'color'.
// [2] This difference is subtle but better.
// [3] Applying a base standard min-width to the site

body {
    color: $color-body; // [1]
    -webkit-font-smoothing: antialiased; // [2]
	-moz-osx-font-smoothing: grayscale; // [2]
    min-width: 320px; // [3]
    max-width: 1304px;
    margin: 0 auto;
    background: #eee;
}
