{{#video}}
&lt;div id=&quot;fitVids&quot; class=&quot;c-video&quot;&gt;
    &lt;iframe class=&quot;c-video__player&quot; width=&quot;1120&quot; height=&quot;630&quot; src=&quot;{{src}}&quot; frameborder=&quot;0&quot; {{#allowFullScreen}}allowfullscreen{{/allowFullScreen}}&gt;&lt;/iframe&gt;
&lt;/div&gt;
{{/video}}