{{&gt; components-header (
        &quot;hasBackLink&quot;: true
)}}

{{&gt; components-primary-nav }}

        {{&gt; components-tile(
        &quot;rectangle&quot;: true,
        &quot;backgroundSrc&quot;: &quot;/img/tile-learningPlaceholder1.jpg&quot;,
        &quot;title&quot;: &quot;TBC&quot;,
        &quot;categoryName&quot;: &quot;learning&quot;,
        &quot;categoryTheme&quot;: &quot;purple&quot;,
        &quot;imgSrc&quot;: &quot;/img/avatar-graeme2.jpg&quot;,
        &quot;imgAlt&quot;: &quot;Graeme Robb&quot;,
        &quot;prefix&quot;: &quot;by&quot;,
        &quot;firstName&quot;: &quot;Graeme&quot;,
        &quot;lastName&quot;: &quot;Robb&quot;,
        &quot;dateDay&quot;: &quot;22&quot;,
        &quot;dateMonth&quot;: &quot;Jan&quot;,
        &quot;dateYear&quot;: &quot;2016&quot;
        )}}

&lt;div class=&quot;o-body&quot;&gt;

    &lt;div class=&quot;container container--padded-top&quot;&gt;
        {{&gt; components-author(
        &quot;bordered&quot;: true,
        &quot;imgSrc&quot;: &quot;/img/avatar-graeme2.jpg&quot;,
        &quot;imgAlt&quot;: &quot;Graeme Robb&quot;,
        &quot;prefix&quot;: &quot;by&quot;,
        &quot;firstName&quot;: &quot;Graeme&quot;,
        &quot;lastName&quot;: &quot;Robb&quot;,
        &quot;dateDay&quot;: &quot;25&quot;,
        &quot;dateMonth&quot;: &quot;Jan&quot;,
        &quot;dateYear&quot;: &quot;2016&quot;
        )}}


        &lt;div class=&quot;c-article&quot;&gt;
            &lt;p&gt;&lt;b&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, autem earum eligendi excepturi
                itaque laudantium maxime praesentium quam sed tempora, tempore velit. Dolores exercitationem praesentium
                quasi repellendus sed tempore voluptates!&lt;/b&gt;&lt;/p&gt;
            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, delectus deleniti distinctio id illo
                iste laudantium maxime quasi rem similique. Accusantium at corporis, distinctio dolorem doloremque enim
                est explicabo ipsum non officia omnis quos recusandae rem suscipit tempore, tenetur vel?&lt;/p&gt;
            &lt;p&gt;Amet atque esse fuga temporibus unde? Commodi consectetur consequatur ducimus eos eum explicabo harum
                ipsa ipsam ipsum minima perspiciatis quae quaerat, quidem quod similique sit vel velit! Accusantium
                aliquam, dolore eos et illum incidunt inventore magnam perspiciatis repellendus vitae, voluptates!&lt;/p&gt;
            &lt;p&gt;Mollitia, placeat, voluptas. Ad assumenda commodi debitis deleniti earum eum expedita explicabo, id
                laboriosam minima modi nam, officiis praesentium quos recusandae similique sint, sit sunt tempora
                tenetur! Adipisci asperiores incidunt sunt! Impedit iste nobis reiciendis reprehenderit, sint sunt
                tempore vero.&lt;/p&gt;
        &lt;/div&gt;

        {{&gt; components-table }}

        {{&gt; components-title-divider(
        'title': &quot;Comments&quot;
        )}}

        &lt;div class=&quot;c-article&quot;&gt;
            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae cupiditate deserunt
                dignissimos dolores, earum ex excepturi ipsam ipsum laborum maiores, modi molestiae nam nemo pariatur
                reiciendis repudiandae sunt voluptatibus?&lt;/p&gt;
            &lt;p&gt;Commodi earum eius ex hic impedit laudantium mollitia nam optio, praesentium, quae quidem tempora ullam!
                Accusamus delectus, eius eveniet facere fuga, inventore, ipsam minus numquam perferendis quam quod
                veniam vero?&lt;/p&gt;
            &lt;p&gt;Aut autem, blanditiis consequatur ea error eveniet impedit laborum pariatur praesentium quas quibusdam
                quo, reiciendis voluptatem! Aliquid aperiam cum dicta fuga itaque laudantium magni minima non
                repellendus sint. Iste, soluta.&lt;/p&gt;
        &lt;/div&gt;

        {{&gt; components-title-divider(
        'title': &quot;About the Author&quot;
        )}}


        {{&gt; components-info(
        &quot;title&quot;: &quot;Graeme Robb&quot;,
        &quot;subTitle&quot;: &quot; &quot;,
        &quot;summary&quot;: &quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ea illo impedit ipsa maiores molestiae nesciunt officiis, omnis quia quis reiciendis soluta tempore, voluptatem. Blanditiis illum obcaecati qui quia reprehenderit. Ab aliquid beatae cum cumque dolorem dolores ducimus fugit neque numquam quaerat, rem repellat velit? Animi aperiam aspernatur at dolor, doloremque, eligendi enim illum maxime perferendis, placeat repellat repudiandae? Ab aut cupiditate, eligendi error est labore nostrum odit quis sit. Dolorem eius, incidunt? Aut commodi, corporis debitis enim esse fugiat magni nisi, quam quas ratione tenetur velit veritatis voluptatibus. Atque incidunt nam quod! Ab deserunt, dolores iste magnam omnis quibusdam!&quot; ,
        &quot;imgVisible&quot;: true,
        &quot;imgSrc&quot;: &quot;/img/avatar-graeme2.jpg&quot;,
        &quot;imgAlt&quot;: &quot;Graeme Robb&quot;
        )}}
    &lt;/div&gt;

    &lt;div class=&quot;row--no-gutter&quot;&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;
            &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-1/pages-article-1.html&quot;&gt;
                {{&gt; components-tile(
                &quot;rectangle&quot;: false,
                &quot;backgroundSrc&quot;: &quot;/img/rect-SomeThingsNeverChange.jpg&quot;,
                &quot;title&quot;: &quot;Some things never change&quot;,
                &quot;categoryName&quot;: &quot;Tax&quot;,
                &quot;categoryTheme&quot;: &quot;orange&quot;,
                &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
                &quot;imgAlt&quot;: &quot;Les Cameron&quot;,
                &quot;prefix&quot;: &quot;by&quot;,
                &quot;firstName&quot;: &quot;Les&quot;,
                &quot;lastName&quot;: &quot;Cameron&quot;,
                &quot;dateDay&quot;: &quot;24&quot;,
                &quot;dateMonth&quot;: &quot;Jan&quot;,
                &quot;dateYear&quot;: &quot;2016&quot;
                )}}
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;

            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-laptop.jpg&quot;,
            &quot;title&quot;: &quot;IHT... Avoid the Hit&quot;,
            &quot;categoryName&quot;: &quot;Tax&quot;,
            &quot;categoryTheme&quot;: &quot;orange&quot;,
            &quot;imgSrc&quot;: &quot;/img/sample-avatar.jpg&quot;,
            &quot;imgAlt&quot;: &quot;&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Robb&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}

        &lt;/div&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;
            &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-2/pages-article-2.html&quot;&gt;
                {{&gt; components-tile(
                &quot;rectangle&quot;: false,
                &quot;backgroundSrc&quot;: &quot;/img/rect-MaxOppFromBank.jpg&quot;,
                &quot;title&quot;: &quot;Maximing opportunites from your client bank &quot;,
                &quot;categoryName&quot;: &quot;Business&quot;,
                &quot;categoryTheme&quot;: &quot;green&quot;,
                &quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
                &quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
                &quot;prefix&quot;: &quot;by&quot;,
                &quot;firstName&quot;: &quot;Graeme&quot;,
                &quot;lastName&quot;: &quot;Ballantyne&quot;,
                &quot;dateDay&quot;: &quot;25&quot;,
                &quot;dateMonth&quot;: &quot;Jan&quot;,
                &quot;dateYear&quot;: &quot;2016&quot;
                )}}
            &lt;/a&gt;
        &lt;/div&gt;



    &lt;/div&gt;