{{#info}}
&lt;div class=&quot;c-info&quot;&gt;
    {{#imgVisible}}
    &lt;div class=&quot;c-info__image&quot;&gt;
        &lt;img class=&quot;c-avatar c-avatar--lg c-avatar--bordered&quot; src=&quot;{{imgSrc}}&quot; alt=&quot;{{imgAlt}}&quot;&gt;
    &lt;/div&gt;
    {{/imgVisible}}
    &lt;div class=&quot;c-info__description&quot;&gt;
        &lt;h3 class=&quot;c-info__description-title&quot;&gt;
            {{title}}
        &lt;/h3&gt;
        &lt;h4 class=&quot;c-info__description-sub-title&quot;&gt;
            {{subTitle}}
        &lt;/h4&gt;
        &lt;div class=&quot;c-info__description-body&quot;&gt;
            {{summary}}
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
{{/info}}