{{#callout}}
&lt;div class=&quot;c-callout c-callout--green&quot;&gt;

    {{#mediaVisible}}
    &lt;div class=&quot;c-callout__media&quot;&gt;
        Media {{mediaSrc}} &lt;!-- todo --&gt;
    &lt;/div&gt;
    {{/mediaVisible}}

    &lt;div class=&quot;c-callout__description&quot;&gt;
        &lt;h3 class=&quot;c-callout__description-title&quot;&gt;
            {{title}}
        &lt;/h3&gt;

        &lt;div class=&quot;c-callout__description-body&quot;&gt;
            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolore maiores nemo, odit quis
                voluptas?&lt;/p&gt;
            &lt;p&gt;Ab aut commodi ducimus ipsa iusto, laborum porro quasi repellendus! Adipisci culpa ipsa quod
                veritatis.&lt;/p&gt;
            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, eligendi error ex excepturi inventore nisi praesentium quas sequi totam voluptatem.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
{{/callout}}