{{&gt; components-header (
        &quot;hasBackLink&quot;: true
)}}

{{&gt; components-primary-nav }}

&lt;div class=&quot;o-body row row--no-gutter&quot;&gt;
            {{&gt; components-tile(
            &quot;strip&quot; : true,
            &quot;backgroundSrc&quot;: &quot;/img/tile-business.jpg&quot;,
            &quot;title&quot;: &quot;Business Articles&quot;,
            &quot;categoryName&quot;: &quot;Business&quot;,
            &quot;categoryTheme&quot;: &quot;green&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Business&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Business&quot;,
            &quot;lastName&quot;: &quot;Business&quot;,
            &quot;dateDay&quot;: &quot;n/a&quot;,
            &quot;dateMonth&quot;: &quot;n/a&quot;,
            &quot;dateYear&quot;: &quot;n/a&quot;
            )}}
    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-2/pages-article-2.html&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/rect-MaxOppFromBank.jpg&quot;,
            &quot;title&quot;: &quot;Maximising opportunites from your client bank&quot;,
            &quot;categoryName&quot;: &quot;business&quot;,
            &quot;categoryTheme&quot;: &quot;green&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Ballantyne&quot;,
            &quot;dateDay&quot;: &quot;24&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-businessPlaceholder1.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;business&quot;,
            &quot;categoryTheme&quot;: &quot;green&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Ballantyne&quot;,
            &quot;dateDay&quot;: &quot;24&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-businessPlaceholder2.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;business&quot;,
            &quot;categoryTheme&quot;: &quot;green&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Ballantyne&quot;,
            &quot;dateDay&quot;: &quot;24&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-businessPlaceholder3.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;business&quot;,
            &quot;categoryTheme&quot;: &quot;green&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Ballantyne&quot;,
            &quot;dateDay&quot;: &quot;24&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
        {{&gt; components-tile(
        &quot;rectangle&quot;: false,
        &quot;backgroundSrc&quot;: &quot;/img/tile-businessPlaceholder4.jpg&quot;,
        &quot;title&quot;: &quot;TBC&quot;,
        &quot;categoryName&quot;: &quot;business&quot;,
        &quot;categoryTheme&quot;: &quot;green&quot;,
        &quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
        &quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
        &quot;prefix&quot;: &quot;by&quot;,
        &quot;firstName&quot;: &quot;Graeme&quot;,
        &quot;lastName&quot;: &quot;Ballantyne&quot;,
        &quot;dateDay&quot;: &quot;24&quot;,
        &quot;dateMonth&quot;: &quot;Jan&quot;,
        &quot;dateYear&quot;: &quot;2016&quot;
        )}}
    &lt;/a&gt;
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-businessPlaceholder5.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;business&quot;,
            &quot;categoryTheme&quot;: &quot;green&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Ballantyne&quot;,
            &quot;dateDay&quot;: &quot;24&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;