// =============================================================================
//  _setting.base
// =============================================================================


// base
// ------------------------------------

$base-font-size:				16px !default;
$base-line-height:				1.5 !default;

$base-spacing:                 	$base-font-size * $base-line-height !default;

$base-timing:				    0.5s !default;
