// =============================================================================
//  _setting.color
// =============================================================================


// core
// ------------------------------------

// black

$color-black:                       #000 !default;

// grey or gray

$color-grey:                        #777 !default;
$color-gray:                        #777 !default;

// white

$color-white:                       #fff !default;


// brand
// ------------------------------------

// brand

$color-brand-red: 					#cc0000!default;
$color-brand-orange: 				#e3580b!default;
$color-brand-gold: 					#cc8900!default;
$color-brand-green: 				#4e9345!default;
$color-brand-purple:                #8a4593!default;
$color-brand-navy:                  #2c53a0!default;
$color-brand-blue:                  #2895d2!default;
$color-brand-teal:                  #2895d2!default;
$color-brand-cyan:                  #8ed1e4!default;
$color-brand-grey:                  #68737a!default;



// presentation
// ------------------------------------

// body

$color-body:                        #454c50 !default;
$color-body-light:                  #68737a !default;

// border

$color-border-primary:              #b2b2b2 !default;
