{{&gt; components-header (
        &quot;hasBackLink&quot;: true
)}}


{{&gt; components-primary-nav }}

&lt;div class=&quot;o-body row row--no-gutter&quot;&gt;
            {{&gt; components-tile(
            &quot;strip&quot; : true,
            &quot;backgroundSrc&quot;: &quot;/img/tile-tax.jpg&quot;,
            &quot;title&quot;: &quot;Tax Articles&quot;,
            &quot;categoryName&quot;: &quot;Tax&quot;,
            &quot;categoryTheme&quot;: &quot;orange&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
            &quot;imgAlt&quot;: &quot;tax&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Tax&quot;,
            &quot;lastName&quot;: &quot;Tax&quot;,
            &quot;dateDay&quot;: &quot;n/a&quot;,
            &quot;dateMonth&quot;: &quot;n/a&quot;,
            &quot;dateYear&quot;: &quot;n/a&quot;
            )}}
    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-1/pages-article-1.html&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/rect-SomeThingsNeverChange.jpg&quot;,
            &quot;title&quot;: &quot;Some things never change&quot;,
            &quot;categoryName&quot;: &quot;Tax&quot;,
            &quot;categoryTheme&quot;: &quot;orange&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Les Cameron&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Les&quot;,
            &quot;lastName&quot;: &quot;Cameron&quot;,
            &quot;dateDay&quot;: &quot;26&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-laptop.jpg&quot;,
            &quot;title&quot;: &quot;IHT... Avoid the Hit&quot;,
            &quot;categoryName&quot;: &quot;Tax&quot;,
            &quot;categoryTheme&quot;: &quot;orange&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-graeme2.jpg&quot;,
            &quot;imgAlt&quot;: &quot;&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Robb&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-taxPlaceholder.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;Tax&quot;,
            &quot;categoryTheme&quot;: &quot;orange&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Les Cameron&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Les&quot;,
            &quot;lastName&quot;: &quot;Cameron&quot;,
            &quot;dateDay&quot;: &quot;26&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-taxPlaceholder2.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;Tax&quot;,
            &quot;categoryTheme&quot;: &quot;orange&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Les Cameron&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Les&quot;,
            &quot;lastName&quot;: &quot;Cameron&quot;,
            &quot;dateDay&quot;: &quot;26&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;

            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-taxPlaceholder3.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;Tax&quot;,
            &quot;categoryTheme&quot;: &quot;orange&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Les Cameron&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Les&quot;,
            &quot;lastName&quot;: &quot;Cameron&quot;,
            &quot;dateDay&quot;: &quot;26&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/rect-taxWasteLand.jpg&quot;,
            &quot;title&quot;: &quot;Life in the tax waste land&quot;,
            &quot;categoryName&quot;: &quot;Tax&quot;,
            &quot;categoryTheme&quot;: &quot;orange&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-karen.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Karen Barret&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Karen&quot;,
            &quot;lastName&quot;: &quot;Barret&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;