{{#header}}
    &lt;div class=&quot;o-header&quot;&gt;
        {{#hasBackLink}}
            &lt;div class=&quot;o-header__back&quot;&gt;
                &lt;a href=&quot;javascript:history.back()&quot;&gt;
                    &lt;svg class=&quot;o-header__back-icon&quot; id=&quot;Layer_1&quot; data-name=&quot;Layer 1&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 194.02 323.02&quot;&gt;&lt;defs&gt;&lt;/defs&gt;&lt;path class=&quot;cls-1&quot; d=&quot;M194.02 0H95.6L0 160.95l97.01 162.07h92.24L97.01 153.97 194.02 0z&quot;/&gt;&lt;/svg&gt;
                &lt;/a&gt;
            &lt;/div&gt;
        {{/hasBackLink}}
        &lt;h1 class=&quot;o-header__title&quot;&gt;
            &lt;img class=&quot;o-header__title-img&quot; src=&quot;/img/ui/logo-primary.png&quot; alt=&quot;{{imgAlt}}&quot; /&gt;
        &lt;/h1&gt;
    &lt;/div&gt;
{{/header}}