{{&gt; components-header }}

{{&gt; components-primary-nav }}

&lt;div class=&quot;o-body row row--no-gutter&quot;&gt;
    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-4/pages-article-4.html&quot;&gt;
            {{&gt; components-tile(
                &quot;rectangle&quot;: false,
                &quot;backgroundSrc&quot;: &quot;/img/tile-pen.jpg&quot;,
                &quot;title&quot;: &quot;School of hard knocks&quot;,
                &quot;categoryName&quot;: &quot;Investments&quot;,
                &quot;categoryTheme&quot;: &quot;gold&quot;,
                &quot;imgSrc&quot;: &quot;/img/sample-avatar.jpg&quot;,
                &quot;imgAlt&quot;: &quot;Paul Rutland&quot;,
                &quot;prefix&quot;: &quot;by&quot;,
                &quot;firstName&quot;: &quot;Paul&quot;,
                &quot;lastName&quot;: &quot;Rutland&quot;,
                &quot;dateDay&quot;: &quot;25&quot;,
                &quot;dateMonth&quot;: &quot;Jan&quot;,
                &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
                &quot;rectangle&quot;: false,
                &quot;backgroundSrc&quot;: &quot;/img/tile-laptop.jpg&quot;,
                &quot;title&quot;: &quot;IHT... Avoid the Hit&quot;,
                &quot;categoryName&quot;: &quot;Tax&quot;,
                &quot;categoryTheme&quot;: &quot;orange&quot;,
                &quot;imgSrc&quot;: &quot;/img/avatar-graeme2.jpg&quot;,
                &quot;imgAlt&quot;: &quot;&quot;,
                &quot;prefix&quot;: &quot;by&quot;,
                &quot;firstName&quot;: &quot;Graeme&quot;,
                &quot;lastName&quot;: &quot;Robb&quot;,
                &quot;dateDay&quot;: &quot;22&quot;,
                &quot;dateMonth&quot;: &quot;Jan&quot;,
                &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-1/pages-article-1.html&quot;&gt;
            {{&gt; components-tile(
                &quot;rectangle&quot;: false,
                &quot;backgroundSrc&quot;: &quot;/img/rect-SomeThingsNeverChange.jpg&quot;,
                &quot;title&quot;: &quot;Some things never change&quot;,
                &quot;categoryName&quot;: &quot;Tax&quot;,
                &quot;categoryTheme&quot;: &quot;orange&quot;,
                &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
                &quot;imgAlt&quot;: &quot;Les Cameron&quot;,
                &quot;prefix&quot;: &quot;by&quot;,
                &quot;firstName&quot;: &quot;Les&quot;,
                &quot;lastName&quot;: &quot;Cameron&quot;,
                &quot;dateDay&quot;: &quot;26&quot;,
                &quot;dateMonth&quot;: &quot;Jan&quot;,
                &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/rect-taxWasteLand.jpg&quot;,
            &quot;title&quot;: &quot;Life in the tax waste land&quot;,
            &quot;categoryName&quot;: &quot;Tax&quot;,
            &quot;categoryTheme&quot;: &quot;orange&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-karen.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Karen Barret&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Karen&quot;,
            &quot;lastName&quot;: &quot;Barret&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;

            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-2/pages-article-2.html&quot;&gt;
            {{&gt; components-tile(
                &quot;rectangle&quot;: false,
                &quot;backgroundSrc&quot;: &quot;/img/rect-MaxOppFromBank.jpg&quot;,
                &quot;title&quot;: &quot;Maximising opportunites from your client bank&quot;,
                &quot;categoryName&quot;: &quot;business&quot;,
                &quot;categoryTheme&quot;: &quot;green&quot;,
                &quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
                &quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
                &quot;prefix&quot;: &quot;by&quot;,
                &quot;firstName&quot;: &quot;Graeme&quot;,
                &quot;lastName&quot;: &quot;Ballantyne&quot;,
                &quot;dateDay&quot;: &quot;24&quot;,
                &quot;dateMonth&quot;: &quot;Jan&quot;,
                &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-3/pages-article-3.html&quot;&gt;
            {{&gt; components-tile(
                &quot;rectangle&quot;: false,
                &quot;backgroundSrc&quot;: &quot;/img/tile-coinJar.jpg&quot;,
                &quot;title&quot;: &quot;ISAy...ISAy...ISAy...&quot;,
                &quot;categoryName&quot;: &quot;Investments&quot;,
                &quot;categoryTheme&quot;: &quot;gold&quot;,
                &quot;imgSrc&quot;: &quot;/img/sample-avatar.jpg&quot;,
                &quot;imgAlt&quot;: &quot;&quot;,
                &quot;prefix&quot;: &quot;by&quot;,
                &quot;firstName&quot;: &quot;Martin&quot;,
                &quot;lastName&quot;: &quot;Green&quot;,
                &quot;dateDay&quot;: &quot;22&quot;,
                &quot;dateMonth&quot;: &quot;Jan&quot;,
                &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
