{{&gt; components-header (
        &quot;hasBackLink&quot;: true
)}}

    {{&gt; components-primary-nav }}

    {{&gt; components-tile(
    &quot;rectangle&quot;: true,
    &quot;backgroundSrc&quot;: &quot;/img/tile-coinJar.jpg&quot;,
    &quot;title&quot;: &quot;ISAy...ISAy...ISAy &quot;,
    &quot;categoryName&quot;: &quot;Investments&quot;,
    &quot;categoryTheme&quot;: &quot;gold&quot;,
    &quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
    &quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
    &quot;prefix&quot;: &quot;by&quot;,
    &quot;firstName&quot;: &quot;Graeme&quot;,
    &quot;lastName&quot;: &quot;Ballantyne&quot;,
    &quot;dateDay&quot;: &quot;25&quot;,
    &quot;dateMonth&quot;: &quot;Jan&quot;,
    &quot;dateYear&quot;: &quot;2016&quot;
    )}}

&lt;div class=&quot;o-body&quot;&gt;

    &lt;div class=&quot;container container--padded-top&quot;&gt;
        {{&gt; components-author(
        &quot;bordered&quot;: true,
        &quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
        &quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
        &quot;prefix&quot;: &quot;by&quot;,
        &quot;firstName&quot;: &quot;Graeme&quot;,
        &quot;lastName&quot;: &quot;Ballantyne&quot;,
        &quot;dateDay&quot;: &quot;25&quot;,
        &quot;dateMonth&quot;: &quot;Jan&quot;,
        &quot;dateYear&quot;: &quot;2016&quot;
        )}}
    &lt;div&gt;

    &lt;div class=&quot;c-article&quot;&gt;
        &lt;p&gt;&lt;b&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, autem earum eligendi excepturi
            itaque laudantium maxime praesentium quam sed tempora, tempore velit. Dolores exercitationem praesentium
            quasi repellendus sed tempore voluptates!&lt;/b&gt;&lt;/p&gt;
        &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, delectus deleniti distinctio id illo
            iste laudantium maxime quasi rem similique. Accusantium at corporis, distinctio dolorem doloremque enim
            est explicabo ipsum non officia omnis quos recusandae rem suscipit tempore, tenetur vel?&lt;/p&gt;
        &lt;p&gt;Amet atque esse fuga temporibus unde? Commodi consectetur consequatur ducimus eos eum explicabo harum
            ipsa ipsam ipsum minima perspiciatis quae quaerat, quidem quod similique sit vel velit! Accusantium
            aliquam, dolore eos et illum incidunt inventore magnam perspiciatis repellendus vitae, voluptates!&lt;/p&gt;
        &lt;p&gt;Mollitia, placeat, voluptas. Ad assumenda commodi debitis deleniti earum eum expedita explicabo, id
            laboriosam minima modi nam, officiis praesentium quos recusandae similique sint, sit sunt tempora
            tenetur! Adipisci asperiores incidunt sunt! Impedit iste nobis reiciendis reprehenderit, sint sunt
            tempore vero.&lt;/p&gt;
    &lt;/div&gt;

        {{&gt; components-title-divider(
        'title': 'Savers suffer as Isa rates tumble'
        )}}

    &lt;div class=&quot;c-article&quot;&gt;
        &lt;p&gt;&lt;b&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, earum eligendi esse et excepturi mollitia
            nostrum officiis omnis optio qui sed voluptas? Aliquid asperiores blanditiis consequuntur culpa, eligendi
            laboriosam laudantium magnam possimus rerum voluptates. Ab, consectetur ipsam magnam minus odit, pariatur
            quaerat, quam qui rem repellat repellendus voluptas voluptate. Cum.&lt;/b&gt;&lt;/p&gt;
        &lt;p&gt;Eum, nisi, recusandae? Accusantium, architecto aspernatur at atque commodi deleniti doloribus enim error est
            facere facilis fugiat fugit harum illo ipsa ipsam ipsum labore laborum maiores, odio odit omnis pariatur
            praesentium provident quasi quia reiciendis sunt suscipit, tempore tenetur totam unde veritatis vero. Amet
            at beatae illo laboriosam ut velit!&lt;/p&gt;
        &lt;p&gt;Alias debitis earum est facilis fugit hic obcaecati pariatur sequi vitae voluptate? Accusamus aspernatur
            beatae dolore ea eligendi error esse eveniet ex excepturi labore laboriosam laudantium nulla officiis omnis
            optio quaerat quis rem sed sint, totam. Debitis dignissimos doloremque est, excepturi impedit laudantium
            nemo porro qui rem sed tempore voluptatibus.&lt;/p&gt;
        &lt;p&gt;Accusantium alias aliquid asperiores aut blanditiis dicta dolorem dolorum ea eius eligendi error eveniet,
            excepturi fuga iusto nam nihil officia praesentium quasi quidem quos soluta tempore vel vitae voluptate,
            voluptates? Ad earum expedita incidunt, ipsa itaque iure mollitia perspiciatis quis temporibus voluptas?
            Atque beatae eligendi, quasi qui sapiente tempore ut?&lt;/p&gt;
        &lt;p&gt;Aspernatur aut dicta ea eius esse et fuga, fugiat laudantium maxime molestiae natus necessitatibus neque
            nesciunt obcaecati pariatur, perspiciatis, placeat quasi repellendus repudiandae saepe sapiente sunt tenetur
            unde velit vitae voluptas voluptatum! Ab aliquid aperiam doloremque, est ex hic libero odit perferendis
            quibusdam quod, repudiandae saepe tenetur vitae voluptate voluptates?&lt;/p&gt;
        &lt;p&gt;Accusamus accusantium adipisci amet assumenda at, aut autem commodi consequatur, corporis cum cumque dicta
            dignissimos distinctio error esse est eum explicabo id illo ipsum iste iure iusto magnam modi molestias
            mollitia necessitatibus neque omnis quia quis sit suscipit veniam voluptas? At commodi corporis dicta illo
            ipsa minima neque quaerat qui.&lt;/p&gt;
        &lt;p&gt;A accusantium ad asperiores, assumenda autem consectetur dicta doloribus ea expedita fugiat hic ipsa itaque,
            labore magnam non quidem quod ratione sunt. Animi dicta dignissimos dolore doloribus est facere inventore
            iusto labore magnam natus neque nihil nostrum, quae quas quisquam quod ratione reiciendis soluta tempora
            velit! Expedita nostrum quo tempore.&lt;/p&gt;
        &lt;p&gt;Ab at, dicta dolor dolores dolorum est, et ex magni maxime molestiae nam odit optio provident quia quibusdam
            quis rerum totam! Ad aliquid, assumenda cum debitis delectus deleniti esse explicabo fuga, fugit hic
            molestiae neque nulla quas quisquam, saepe sit tempora veniam voluptatum. Earum fugit minima nemo quas
            reprehenderit similique.&lt;/p&gt;
    &lt;/div&gt;
        {{&gt; components-title-divider(
        'title': 'Insert Graph Here'
        )}}

        &lt;div id=&quot;container&quot; style=&quot;min-width: 310px; height: 400px; margin: 0 auto&quot;&gt;&lt;/div&gt;

        {{&gt; components-title-divider(
        'title': 'Related articles'
        )}}


&lt;/div&gt;



&lt;/div&gt;
    &lt;div class=&quot;row--no-gutter&quot;&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;
            &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-4/pages-article-4.html&quot;&gt;
                {{&gt; components-tile(
                &quot;rectangle&quot;: false,
                &quot;backgroundSrc&quot;: &quot;/img/tile-pen.jpg&quot;,
                &quot;title&quot;: &quot;School of hard knocks&quot;,
                &quot;categoryName&quot;: &quot;Investments&quot;,
                &quot;categoryTheme&quot;: &quot;gold&quot;,
                &quot;imgSrc&quot;: &quot;/img/sample-avatar.jpg&quot;,
                &quot;imgAlt&quot;: &quot;&quot;,
                &quot;prefix&quot;: &quot;by&quot;,
                &quot;firstName&quot;: &quot;Paul&quot;,
                &quot;lastName&quot;: &quot;Rutland&quot;,
                &quot;dateDay&quot;: &quot;24&quot;,
                &quot;dateMonth&quot;: &quot;Jan&quot;,
                &quot;dateYear&quot;: &quot;2016&quot;
                )}}
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;

            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-laptop.jpg&quot;,
            &quot;title&quot;: &quot;IHT... Avoid the Hit&quot;,
            &quot;categoryName&quot;: &quot;Tax&quot;,
            &quot;categoryTheme&quot;: &quot;orange&quot;,
            &quot;imgSrc&quot;: &quot;/img/sample-avatar.jpg&quot;,
            &quot;imgAlt&quot;: &quot;&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Robb&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}

        &lt;/div&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;
            &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-2/pages-article-2.html&quot;&gt;
                {{&gt; components-tile(
                &quot;rectangle&quot;: false,
                &quot;backgroundSrc&quot;: &quot;/img/rect-MaxOppFromBank.jpg&quot;,
                &quot;title&quot;: &quot;Maximing opportunites from your client bank &quot;,
                &quot;categoryName&quot;: &quot;Business&quot;,
                &quot;categoryTheme&quot;: &quot;green&quot;,
                &quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
                &quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
                &quot;prefix&quot;: &quot;by&quot;,
                &quot;firstName&quot;: &quot;Graeme&quot;,
                &quot;lastName&quot;: &quot;Ballantyne&quot;,
                &quot;dateDay&quot;: &quot;25&quot;,
                &quot;dateMonth&quot;: &quot;Jan&quot;,
                &quot;dateYear&quot;: &quot;2016&quot;
                )}}
            &lt;/a&gt;
        &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;