.o-header {
  background-color: $color-brand-red;
  color: white;
  font-family: Helvetica, serif;
  padding: 20px;
  position: relative;

  @include mq-sm-up {
    padding: 30px;
  }

  .o-header__back {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -15px;

    &-icon {
      width: 32px;
      height: 32px;
      fill: $color-white;
    }
  }

  .o-header__title {
    margin: 0;
    text-align: center;

    &-img {
      max-width: 240px;

      @include mq-sm-up {
        max-width: 300px;
      }
    }
  }
}