<div class="c-article">
    <h2>Heading 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur culpa impedit incidunt
        ipsa possimus, quo quod. Ab assumenda at consectetur deleniti ea enim est explicabo ipsum neque, nihil,
        omnis pariatur quidem quos sit soluta vero voluptatum. Aut consequuntur deserunt enim inventore magnam
        quisquam. Accusantium, adipisci alias consequatur ducimus ea, eius ipsam iure nemo quam quidem
        reiciendis tempora velit. Fugiat impedit inventore necessitatibus, sed soluta totam ullam vel vero?
        Aperiam delectus numquam quibusdam quo repellat!</p>
    <p>Atque ducimus eum quas sequi. Alias autem excepturi quaerat saepe totam. Architecto, at aut consequatur
        consequuntur cum, eaque excepturi iste libero nisi odio optio qui quibusdam. Corporis ex ipsa odio
        possimus quis! Accusantium, aliquid hic impedit nemo porro quasi sunt. Aliquid commodi eius error
        explicabo id illum impedit incidunt labore maxime, minima minus molestias nesciunt nobis officiis omnis
        porro quas quia quibusdam quidem, saepe sapiente soluta sunt suscipit totam unde velit veritatis
        voluptas voluptatem voluptatibus.</p>
    <h3>Heading 3</h3>
    <p>Aliquid animi atque blanditiis commodi dolores earum enim error, et eveniet facilis harum illum inventore
        iste modi molestiae nesciunt nostrum praesentium repellendus rerum sed totam unde velit! Accusamus ad
        earum fugit hic! Accusamus beatae commodi delectus distinctio est illo magnam non, quos totam. Eius
        facilis, iste. A accusantium ad animi blanditiis cumque delectus id libero quasi quod reprehenderit.
        Amet commodi distinctio, dolor doloribus ea eum excepturi exercitationem hic iure necessitatibus,
        perferendis ratione recusandae, reiciendis sequi.</p>
    <p>Animi itaque, voluptates. Aliquid consequuntur corporis facere fuga hic ipsa iste laboriosam, maiores
        nemo neque pariatur quam quisquam rem repellat reprehenderit velit voluptate. Accusantium adipisci at
        dolorem doloribus enim inventore ipsam odit quasi sit temporibus. Alias asperiores commodi illum iste
        quo recusandae suscipit, voluptates? Ab accusantium ad adipisci asperiores at atque blanditiis
        consequatur cum dignissimos dolor ea earum eligendi inventore laborum maiores minima minus molestiae
        nulla officia provident quae reiciendis, rem rerum sed ullam velit.</p>
    <h4>Heading 4</h4>
    <p>Aliquid animi autem blanditiis cupiditate delectus dolor, dolorem doloremque eligendi et ex fuga illo
        impedit ipsa ipsam iste, labore laboriosam neque nihil officia omnis placeat porro quae quibusdam sit
        unde. Amet distinctio ex explicabo fuga nobis perferendis ratione tenetur. Aspernatur corporis culpa
        dignissimos, doloremque eius fuga in iure natus officiis placeat quaerat quibusdam, sequi similique
        tenetur voluptatum? At corporis cum deserunt dolor dolorum eligendi enim minus perspiciatis quis quod
        repellat, repudiandae sapiente sint sunt totam!</p>
    <h3>This is a h3</h3>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, repellendus.</li>
        <li>Accusantium amet dolorem eos error illo, neque nobis officiis saepe?</li>
        <li>Aliquam asperiores consequatur culpa deserunt exercitationem incidunt minus perferendis totam?</li>
        <li>Delectus eaque enim illo molestiae officia optio praesentium quo rerum?</li>
        <li>Debitis eius hic maiores omnis soluta tempora, totam veniam voluptatibus.</li>
    </ul>
    <h3>This is a h3</h3>
    <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, repellendus.</li>
        <li>Accusantium amet dolorem eos error illo, neque nobis officiis saepe?</li>
        <li>Aliquam asperiores consequatur culpa deserunt exercitationem incidunt minus perferendis totam?</li>
        <li>Delectus eaque enim illo molestiae officia optio praesentium quo rerum?</li>
        <li>Debitis eius hic maiores omnis soluta tempora, totam veniam voluptatibus.</li>
    </ol>
</div>