{{#author}}
<div class="c-author {{#bordered}}c-author--bordered{{/bordered}}">
    <div class="c-author__image">
        <img class="c-avatar c-avatar--bordered" src="{{imgSrc}}" alt="{{imgAlt}}">
    </div>
    <div class="c-author__meta">
        {{prefix}} <span><b>{{firstName}} {{lastName}}</b></span> <span><b>{{dateDay}} {{dateMonth}}</b> {{dateYear}}</span>
    </div>
</div>
{{/author}}