{{#callout}}
<div class="c-callout c-callout--green">

    {{#mediaVisible}}
    <div class="c-callout__media">
        Media {{mediaSrc}} <!-- todo -->
    </div>
    {{/mediaVisible}}

    <div class="c-callout__description">
        <h3 class="c-callout__description-title">
            {{title}}
        </h3>

        <div class="c-callout__description-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolore maiores nemo, odit quis
                voluptas?</p>
            <p>Ab aut commodi ducimus ipsa iusto, laborum porro quasi repellendus! Adipisci culpa ipsa quod
                veritatis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, eligendi error ex excepturi inventore nisi praesentium quas sequi totam voluptatem.</p>
        </div>
    </div>
</div>
{{/callout}}