{{#header}}
<div class="o-header">
    {{#hasBackLink}}
    <div class="o-header__back">
        <a href="javascript:history.back()">
            <svg class="o-header__back-icon" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 194.02 323.02"><defs></defs><path class="cls-1" d="M194.02 0H95.6L0 160.95l97.01 162.07h92.24L97.01 153.97 194.02 0z"/></svg>
        </a>
    </div>
    {{/hasBackLink}}
    <h1 class="o-header__title">
         <img class="o-header__title-img" src="/img/ui/logo-primary.png" alt="{{imgAlt}}" />
    </h1>
</div>
{{/header}}