{{#info}}
<div class="c-info">
    {{#imgVisible}}
    <div class="c-info__image">
        <img class="c-avatar c-avatar--lg c-avatar--bordered" src="{{imgSrc}}" alt="{{imgAlt}}">
    </div>
    {{/imgVisible}}
    <div class="c-info__description">
        <h3 class="c-info__description-title">
            {{title}}
        </h3>
        <h4 class="c-info__description-sub-title">
            {{subTitle}}
        </h4>
        <div class="c-info__description-body">
            {{summary}}
        </div>
    </div>
</div>
{{/info}}