{{#primaryNav}}
<nav>
    <ul class="c-primary-nav">
        {{#items}}
        <li class="c-primary-nav__item c-primary-nav__item--{{classModifier}}">
            <a href="{{url}}" class="c-primary-nav__link">{{name}}</a>
        </li>
        {{/items}}
    </ul>
</nav>
{{/primaryNav}}