<div class="c-table">
    <table>
        <tr>
            <th>Subject</th>
            <th>Comments</th>
            <th>Grade</th>
        </tr>
        <tr>
            <td>
                Subject data
            </td>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae consequuntur cum cumque, debitis dicta ducimus eius eos excepturi fugit iusto magni modi nam officia officiis provident quas quasi quia vel, vero. Accusantium cupiditate, in.
            </td>
            <td>
                <div class="c-table__rating c-table__rating--5-star"></div>
            </td>
        </tr>
        <tr>
            <td>
                Subject data
            </td>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae consequuntur cum cumque, debitis dicta ducimus eius eos excepturi fugit iusto magni modi nam officia officiis provident quas quasi quia vel, vero. Accusantium cupiditate, in.
            </td>
            <td>
                <div class="c-table__rating c-table__rating--4-star"></div>
            </td>
        </tr>
        <tr>
            <td>
                Subject data
            </td>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae consequuntur cum cumque, debitis dicta ducimus eius eos excepturi fugit iusto magni modi nam officia officiis provident quas quasi quia vel, vero. Accusantium cupiditate, in.
            </td>
            <td>
                <div class="c-table__rating c-table__rating--3-star"></div>
            </td>
        </tr>
    </table>
</div>