{{#tile}}
<div class="c-tile {{#rectangle}}c-tile--rectangle{{/rectangle}} {{#section}}c-tile--section{{/section}} {{#strip}}c-tile--strip{{/strip}}" style="background-image: url('{{backgroundSrc}}');">

    <div class="c-title__desc">
        <span class="c-title__desc-tag c-title__desc-tag--{{categoryTheme}}">{{categoryName}}</span>
        <h3 class="c-title__desc-title">{{title}}</h3>

        <!-- // .c-author -->
        <div class="c-author">
            <div class="c-author__image">
                <img class="c-avatar" src="{{imgSrc}}" alt="{{imgAlt}}">
            </div>
            <div class="c-author__meta">
                {{prefix}} <span><b>{{firstName}} {{lastName}}</b></span> <span><b>{{dateDay}} {{dateMonth}}</b> {{dateYear}}</span>
            </div>
        </div>
        <!-- .c-author // -->

    </div>

</div>
{{/tile}}
