{{#video}}
<div id="fitVids" class="c-video">
    <iframe class="c-video__player" width="1120" height="630" src="{{src}}" frameborder="0" {{#allowFullScreen}}allowfullscreen{{/allowFullScreen}}></iframe>
</div>
{{/video}}