{{&gt; components-header (
        &quot;hasBackLink&quot;: true
)}}


{{&gt; components-primary-nav }}

&lt;div class=&quot;o-body row row--no-gutter&quot;&gt;
            {{&gt; components-tile(
            &quot;strip&quot; : true,
            &quot;backgroundSrc&quot;: &quot;/img/tile-learning.jpg&quot;,
            &quot;title&quot;: &quot;Learning Articles&quot;,
            &quot;categoryName&quot;: &quot;Learning&quot;,
            &quot;categoryTheme&quot;: &quot;purple&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-Les.jpg&quot;,
            &quot;imgAlt&quot;: &quot;learning&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Learning&quot;,
            &quot;lastName&quot;: &quot;Learning&quot;,
            &quot;dateDay&quot;: &quot;n/a&quot;,
            &quot;dateMonth&quot;: &quot;n/a&quot;,
            &quot;dateYear&quot;: &quot;n/a&quot;
            )}}
    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-7/pages-article-7.html&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-learningPlaceholder1.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;learning&quot;,
            &quot;categoryTheme&quot;: &quot;purple&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-graeme2.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Graeme Robb&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Robb&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-learningPlaceholder2.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;learning&quot;,
            &quot;categoryTheme&quot;: &quot;purple&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-graeme2.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Graeme Robb&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Robb&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-learningPlaceholder3.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;learning&quot;,
            &quot;categoryTheme&quot;: &quot;purple&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-graeme2.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Graeme Robb&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Robb&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-learningPlaceholder4.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;learning&quot;,
            &quot;categoryTheme&quot;: &quot;purple&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-graeme2.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Graeme Robb&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Robb&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-learningPlaceholder5.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;learning&quot;,
            &quot;categoryTheme&quot;: &quot;purple&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-graeme2.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Graeme Robb&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Robb&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;#&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-learningPlaceholder6.jpg&quot;,
            &quot;title&quot;: &quot;TBC&quot;,
            &quot;categoryName&quot;: &quot;learning&quot;,
            &quot;categoryTheme&quot;: &quot;purple&quot;,
            &quot;imgSrc&quot;: &quot;/img/avatar-graeme2.jpg&quot;,
            &quot;imgAlt&quot;: &quot;Graeme Robb&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Robb&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;