.c-table {
  margin-bottom: $base-spacing;

  table {
    margin-bottom: 0;
    width: 100%;
  }

  tr {
    &:nth-child(odd) {
      background-color: mix($color-gray, $color-white, 10%);
    }
  }

  th {
    padding: $base-spacing / 2;
    background-color: mix($color-gray, $color-white, 20%);
  }

  td {
    padding: $base-spacing / 2;
    border: none;
  }

  // Rating

  &__rating {
    width: 78px;
    height: 14px;
    background: url('/img/ui/sprite.png') no-repeat 0 100%;

    &--5-star {
      background-position: 0 0;
    }

    &--4-star {
      background-position: 0 -14px;
    }

    &--3-star {
      background-position: 0 -28px;
    }

    &--2-star {
      background-position: 0 -42px;
    }

    &--1-star {
      background-position: 0 -56px;
    }
  }
}