// c-tile

.c-tile {
  background-color: #fff;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
  }

  &--square {
    padding-bottom: 100%;
  }

  &--link {
    display: block;
  }

  &--rectangle {
    padding-bottom: 50%;

    .c-author {
      display: none;
    }
  }

  &--section {
    padding-bottom: 33%; // 3:1

    .c-author,
    .c-title__desc-tag {
      display: none;

    }

    @include mq-sm-up {
      padding-bottom: 25%; // 4:1
    }
  }

  &--strip {
    padding-bottom: 25%;

    @include mq-sm-up {
      padding-bottom: 15%;
    }

    @include mq-md-up {
      padding-bottom: 10%;
    }

    .is-pension & {
      background-image: none !important;
      background-color: $color-brand-navy;
    }

    .is-tax & {
      background-image: none !important;
      background-color: $color-brand-orange;
    }

    .is-investments & {
      background-image: none !important;
      background-color: $color-brand-gold;
    }

    .is-business & {
      background-image: none !important;
      background-color: $color-brand-green;
    }

    .is-learning & {
      background-image: none !important;
      background-color: $color-brand-purple;
    }

    &:before {
      display: none;
    }

    .c-author,
    .c-title__desc-tag {
      display: none;
    }

  }
}
.c-title__desc {
  padding: 20px;
  position: absolute;
  bottom: 0;

  &-tag {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $color-brand-grey;
    color: #fff;
    text-decoration: none;
    padding: 2px 5px;
    display: inline-block;
    margin-bottom: 5px;

    &--gold {
      background-color: $color-brand-gold;
    }

    &--orange {
      background-color: $color-brand-orange;
    }

    &--green {
      background-color: $color-brand-green;
    }

    &--navy {
      background-color: $color-brand-navy;
    }

    &--purple {
      background-color: $color-brand-purple;
    }

  }

  &-title {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;

    @include mq-lg-up {
      font-size: 32px;
    }
  }

  // Nested modifications...

  .c-author {
    margin-bottom: 0;
    color: $color-white;
  }
}