.c-author {
  display: flex;
  align-items: center;
  margin-bottom: $base-spacing;
  position: relative;
  overflow: hidden;

  &--bordered {
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 1px;
      width: calc(100% - 44px);
      background-color: lighten($color-grey, 30%);
    }

    &:after {
      top: auto;
      bottom: 0;
    }
  }

  &__image {
    margin-right: $base-spacing / 2;
  }

  &__meta {

  }
}