.c-title-divider {
  background-color: lighten($color-gray, 50%);
  
  &__mask {
    background-color: $color-white;
    display: inline-block;
    padding-right: 10px;
    //max-width: 80%;
    }
  }
