.c-primary-nav {
  background-color: #FFF;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid $color-grey;

}

.c-primary-nav__item {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  font-family: stag-book;

  @include mq-sm-up {
    font-size: 20px;
  }
}

.c-primary-nav__link {
  display: block;
  color: #484D51;
  text-align: center;
  padding: ($base-spacing / 3)  ($base-spacing / 4);
  border-bottom: 5px solid transparent;
  transition: all ($base-timing / 2) ease-in-out;

  @include mq-sm-up{
    padding: $base-spacing / 2;
  }

  .is-active & {
    background-color: #fff;
    text-decoration: none;
    color: $color-brand-red;
    border-color: $color-brand-red;
    transition: all ($base-timing / 2) ease-in-out;
  }

  &:hover {
    background-color: #fff;
    text-decoration: none;
    color: $color-brand-red;
    transition: all ($base-timing / 2) ease-in-out;
  }
}