// Local mixin to loop over a color map

$color-callout-map: (
  green: $color-brand-green,
  gold: $color-brand-gold,
  red: $color-brand-red
);

// Block

.c-callout {
  margin-bottom: $base-spacing;
  padding: ($base-spacing / 1.5) ($base-spacing / 1.5) 0;
  display: flex;
  position: relative;

  // Check if a modifier exists, then add some common styles
  &[class*="--"] {
    color: $color-white;

    // Hack. Apply a gradient to the outer component.
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background: linear-gradient(to top, rgba($color-white, 0.1) 0%, rgba($color-black, 0.2) 100%);
      position: absolute;
      top: 0;
      left: 0;
    }

    a {
      color: $color-white;
      text-decoration: underline;

      &:hover {
        font-weight: bold;
      }
    }
  }

  // Loop over each of the map colours and apply a modifier class as required
  @each $color-key, $color-value in $color-callout-map {
    &--#{$color-key} {
      background-color: #{$color-value};
      background: linear-gradient(to bottom, #{$color-value} 0%, #{$color-value} 100%);
    }
  }

  // __media

  &__media {
    margin-right: $base-spacing;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
  }

  // __description

  &__description {
    position: relative;
    z-index: 1;
  }

  &__description-title {
    margin-bottom: $base-spacing;
  }


  &__description-body {

    li {
      margin-bottom: $base-spacing / 1.5;
    }

  }
}
