.c-info {
  margin-bottom: $base-spacing;
  display: flex;

  // __image

  &__image {
    margin-right: $base-spacing;
    flex-shrink: 0;
  }

  // __description

  &__description {
  }

  &__description-title {
    margin-bottom: $base-spacing;
  }

  &__description-sub-title {
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin-bottom: $base-spacing;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  &__description-body {
  }
}