.c-article {

  // Nested component

  .c-callout {

    @include mq-md-up {
        width: 50%;
        float: left;
        margin-right: $base-spacing;
        margin-bottom: ($base-spacing / 3);
    }
  }
}
