.c-avatar {
  border-radius: 100%;
  width: 36px;
  height: 36px;

  // --lg

  &--lg {
    width: 64px;
    height: 64px;
  }

  // --bordered

  &--bordered {
    border: 2px solid lighten($color-grey, 30%);
  }
}