/*
================================================================================
 _element.form
================================================================================
*/


// The <form> element represents a document section that contains interactive 
// controls to submit information to a web server.

form {
}


// The <fieldset> element is used to group several controls within a web form.

fieldset {
}


// The <legend> element represents a caption for the content of a <fieldset>. 

legend {
}


// The <label> element represents a descriptive caption for an input control 
// in a user interface.

label {
}


// The <input> element is used to create interactive controls for web-based 
// forms in order to accept data from the user. How an <input> works varies 
// considerably depending on the value of its type attribute.

input[type="text"], 
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="search"] {
}


// The <select> element represents a control that presents a menu of options.

select {
}


// The <textarea> element represents a multi-line plain-text editing control.

textarea {
}
