/*
================================================================================
 _element.abbreviation
================================================================================
*/


// The <blockquote> element indicates that the text is an extended quotation.

blockquote {
	padding: $base-spacing;
	border-left: 10px solid darken($color-white, 20%);
	background-color: darken($color-white, 3%);
}
