/*
================================================================================
 _element.hr
================================================================================
*/


// The <hr> element represents a thematic break between paragraph elements.

hr {
	border: 0;
	height: 1px;
	background-color: $color-grey;
}
