/*
================================================================================
 _element.code
================================================================================
*/


// The <code> element represents a fragment of computer code.

code {
	background-color: #eee; 
	font-size: rem-calc(14);
	font-weight: 100;
	padding: 0 5px;
	display: inline-block;
	color: #333;
	vertical-align: middle;
}
