/*
================================================================================
 _element.anchor
================================================================================
*/


// The <a> tag defines a hyperlink to a location. It can also be used to create 
// an anchor point—a destination for hyperlinks within the content of a page, 
// so that links aren't limited to connecting simply to the top of a page.

a {
    color: $color-brand-red;
    text-decoration: none;

    &:visited {
    }

    &:hover {
        text-decoration: underline;
    }

    &:active {
    }
}
