/*
================================================================================
 _element.ordered-list
================================================================================
*/


// The <ol> element represents an ordered list of items. Typically, ordered-list 
// items are displayed with a preceding numbering, which can be of any form.

ol {
    margin-left: $base-spacing;
    padding-left: $base-spacing;
}
