/*
================================================================================
 _element.headings
================================================================================
*/


h1, h2, h3, h4, h5, h6 {
    font-family: stag-book;
    line-height: 1.2;
}
