/*
================================================================================
 _element.table
================================================================================
*/


// The <table> element represents tabular data.

table {
    border-collapse: collapse;
}


// The <caption> element represents the title of a table.

caption {
    text-align: left;
    margin-bottom: $base-spacing / 2;
}


// The <tr> element defines a row of cells in a table (a mix of <td> and <th>).

tr {
}


// The <th> element defines a cell as a header for a group of cells of a table.

th {
    text-align: left;
    background-color: darken($color-white, 2%);
    border: 1px solid palette(grey);
    padding: rem-calc(5) rem-calc(10);
}


// The <td> element defines a cell of a table that contains data.

td {
    text-align: left;
    border: 1px solid $color-grey;
    padding: rem-calc(5) rem-calc(10);
}
