/*
================================================================================
 _element.unordered-list
================================================================================
*/


// The <ul> element represents an unordered list of items, namely a collection 
// of items that do not have a numerical ordering, and their order in the list 
// is meaningless.

ul {
    margin-left: $base-spacing;
    padding-left: $base-spacing;
}
