{{&gt; components-header }}

{{&gt; components-primary-nav }}

&lt;div class=&quot;o-body&quot;&gt;
    &lt;div class=&quot;row row--no-gutter&quot;&gt;
        &lt;div class=&quot;col-sm-12 col-md-6&quot;&gt;

            {{&gt; components-tile }}

        &lt;/div&gt;
        &lt;div class=&quot;col-sm-12 col-md-6&quot;&gt;
            &lt;div class=&quot;row row--no-gutter&quot;&gt;
                &lt;div class=&quot;col-sm-6&quot;&gt;

                    {{&gt; components-tile }}

                &lt;/div&gt;
                &lt;div class=&quot;col-sm-6&quot;&gt;

                    {{&gt; components-tile }}

                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;row row--no-gutter&quot;&gt;
                &lt;div class=&quot;col-sm-6&quot;&gt;

                    {{&gt; components-tile }}

                &lt;/div&gt;
                &lt;div class=&quot;col-sm-6&quot;&gt;

                    {{&gt; components-tile }}

                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;br/&gt;
        &lt;!-- To do fix this --&gt;
        {{&gt; components-author }}

        {{&gt; components-title-divider }}

        {{&gt; components-info }}

        {{&gt; components-title-divider }}

        {{&gt; components-article }}

        {{&gt; components-title-divider(
            'title': 'Work please'
        )}}

        {{&gt; components-article }}

        {{&gt; components-title-divider }}

        {{&gt; components-callout }}

        {{&gt; components-title-divider }}

        {{&gt; components-table }}

        {{&gt; components-title-divider }}

        {{&gt; components-video }}

        {{&gt; components-title-divider }}

        &lt;div class=&quot;row--no-gutter&quot;&gt;
            &lt;div class=&quot;col-sm-4&quot;&gt;

                {{&gt; components-tile }}

            &lt;/div&gt;
            &lt;div class=&quot;col-sm-4&quot;&gt;

                {{&gt; components-tile }}

            &lt;/div&gt;
            &lt;div class=&quot;col-sm-4&quot;&gt;

                {{&gt; components-tile }}

            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

