{{&gt; components-header (
        &quot;hasBackLink&quot;: true
)}}

{{&gt; components-primary-nav }}

{{&gt; components-tile(
&quot;rectangle&quot;: true,
&quot;backgroundSrc&quot;: &quot;/img/rect-MaxOppFromBank.jpg&quot;,
&quot;title&quot;: &quot;Maximing opportunites from your client bank &quot;,
&quot;categoryName&quot;: &quot;Business&quot;,
&quot;categoryTheme&quot;: &quot;green&quot;,
&quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
&quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
&quot;prefix&quot;: &quot;by&quot;,
&quot;firstName&quot;: &quot;Graeme&quot;,
&quot;lastName&quot;: &quot;Ballantyne&quot;,
&quot;dateDay&quot;: &quot;25&quot;,
&quot;dateMonth&quot;: &quot;Jan&quot;,
&quot;dateYear&quot;: &quot;2016&quot;
)}}

&lt;div class=&quot;o-body&quot;&gt;

    &lt;div class=&quot;container container--padded-top&quot;&gt;

    {{&gt; components-author(
        &quot;bordered&quot;: true,
        &quot;imgSrc&quot;: &quot;/img/avatar-Graham.jpg&quot;,
        &quot;imgAlt&quot;: &quot;Graeme Ballantyne&quot;,
        &quot;prefix&quot;: &quot;by&quot;,
        &quot;firstName&quot;: &quot;Graeme&quot;,
        &quot;lastName&quot;: &quot;Ballantyne&quot;,
        &quot;dateDay&quot;: &quot;25&quot;,
        &quot;dateMonth&quot;: &quot;Jan&quot;,
        &quot;dateYear&quot;: &quot;2016&quot;
    )}}

    &lt;div class=&quot;c-article&quot;&gt;
        &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus accusantium ad amet aperiam aut, culpa
            cumque deleniti dolorem dolorum eius error est eum expedita facilis illum incidunt ipsa necessitatibus odit
            perferendis perspiciatis quae quo sed, tenetur velit veritatis vero! Ab accusantium commodi minus numquam totam.
            Laborum qui saepe voluptatem?&lt;/p&gt;
        {{&gt; components-callout(
            &quot;title&quot;: &quot;Default callout title&quot;,
            &quot;mediaVisible&quot;: false,
            &quot;mediaSrc&quot;: &quot;&quot;
        )}}
        &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eligendi eveniet, facilis fugit ipsa iure,
            mollitia nam nobis officiis quo, quod voluptatum. Dolor dolores eligendi fuga in ipsam iure nulla, odio odit
            optio quaerat quam rem, tempore temporibus. Accusantium aspernatur dolor ea enim explicabo, labore minima natus
            tenetur. Debitis, eos!&lt;/p&gt;
        &lt;p&gt;Aspernatur assumenda, autem culpa delectus deserunt dolor dolorum eaque esse excepturi fuga fugiat ipsum natus,
            quis reiciendis sapiente suscipit tempore tenetur, vel? Aspernatur dolore dolores eius libero magnam, minus nam
            numquam optio, quisquam repellat suscipit veniam voluptatem! Aut dignissimos dolores eligendi eos harum maiores
            non odio quam temporibus, unde voluptatum.&lt;/p&gt;
        &lt;p&gt;Alias atque consectetur delectus deserunt dolores eaque eligendi esse est explicabo hic, illo, labore neque,
            nulla porro quaerat quibusdam quo voluptatem. Amet architecto, consequatur culpa cum doloremque eius eligendi et
            id incidunt inventore ipsa laudantium magnam modi molestiae nam omnis placeat recusandae rem repudiandae
            sapiente sequi sint sit temporibus voluptatibus.&lt;/p&gt;
        &lt;p&gt;Adipisci aspernatur commodi, dolorum eius exercitationem explicabo harum impedit iste laboriosam libero nesciunt
            numquam obcaecati quidem saepe sit totam veritatis voluptatem? Adipisci aliquid amet aperiam autem beatae
            blanditiis consequuntur, doloribus ea eos esse fuga illo, incidunt, iste laborum laudantium neque obcaecati quo
            repellat similique tempore temporibus vitae voluptas. Explicabo, vero.&lt;/p&gt;
        &lt;p&gt;Alias assumenda autem beatae, consequatur delectus, deserunt dicta ea eius exercitationem expedita facilis illo
            iste laboriosam molestias nesciunt nostrum nulla possimus quam quibusdam sequi vel veniam voluptas voluptatibus.
            Assumenda earum eius error est eum illo laborum libero mollitia nostrum odio praesentium, saepe soluta
            voluptatibus. Aspernatur distinctio eveniet expedita ipsa voluptas!&lt;/p&gt;

    &lt;/div&gt;


        {{&gt; components-title-divider(
        'title': 'Filtering or sementation?'
        )}}

        &lt;div class=&quot;c-article&quot;&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dignissimos laborum magnam perspiciatis
                quisquam, voluptatem! Ad autem blanditiis, earum expedita fugiat impedit iste odio praesentium quod
                ratione recusandae sunt suscipit voluptatibus. Amet assumenda consequatur ducimus earum enim explicabo
                in magnam, minima neque nobis perspiciatis porro quibusdam sed tempora tempore veniam.&lt;/p&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa dolorem error eveniet
                excepturi ipsa, magni, nam obcaecati odit quidem, quisquam recusandae unde ut velit voluptatem. Ab
                accusamus alias commodi, consectetur, dignissimos esse ex exercitationem impedit ipsum laudantium maxime
                natus nesciunt nihil odit optio placeat provident quaerat quo quos soluta!&lt;/p&gt;
        &lt;/div&gt;

        {{&gt; components-title-divider(
        'title': 'Relevance'
        )}}

        &lt;div class=&quot;c-article&quot;&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dignissimos laborum magnam perspiciatis
                quisquam, voluptatem! Ad autem blanditiis, earum expedita fugiat impedit iste odio praesentium quod
                ratione recusandae sunt suscipit voluptatibus. Amet assumenda consequatur ducimus earum enim explicabo
                in magnam, minima neque nobis perspiciatis porro quibusdam sed tempora tempore veniam.&lt;/p&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa dolorem error eveniet
                excepturi ipsa, magni, nam obcaecati odit quidem, quisquam recusandae unde ut velit voluptatem. Ab
                accusamus alias commodi, consectetur, dignissimos esse ex exercitationem impedit ipsum laudantium maxime
                natus nesciunt nihil odit optio placeat provident quaerat quo quos soluta!&lt;/p&gt;
        &lt;/div&gt;

    &lt;/div&gt;
        {{&gt;components-callout(
            &quot;title&quot;: &quot;Top Tip&quot;,
            &quot;mediaVisible&quot;: true,
            &quot;mediaSrc&quot;: &quot;&quot;
        )}}

    &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;c-article&quot;&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dignissimos laborum magnam perspiciatis
                quisquam, voluptatem! Ad autem blanditiis, earum expedita fugiat impedit iste odio praesentium quod
                ratione recusandae sunt suscipit voluptatibus. Amet assumenda consequatur ducimus earum enim explicabo
                in magnam, minima neque nobis perspiciatis porro quibusdam sed tempora tempore veniam.&lt;/p&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa dolorem error eveniet
                excepturi ipsa, magni, nam obcaecati odit quidem, quisquam recusandae unde ut velit voluptatem. Ab
                accusamus alias commodi, consectetur, dignissimos esse ex exercitationem impedit ipsum laudantium maxime
                natus nesciunt nihil odit optio placeat provident quaerat quo quos soluta!&lt;/p&gt;
        &lt;/div&gt;

        {{&gt; components-title-divider(
        'title': 'Related articles'
        )}}

    &lt;/div&gt;

    &lt;div class=&quot;row--no-gutter&quot;&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;
        &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-4/pages-article-4.html&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-pen.jpg&quot;,
            &quot;title&quot;: &quot;School of hard knocks&quot;,
            &quot;categoryName&quot;: &quot;Investments&quot;,
            &quot;categoryTheme&quot;: &quot;gold&quot;,
            &quot;imgSrc&quot;: &quot;/img/sample-avatar.jpg&quot;,
            &quot;imgAlt&quot;: &quot;&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Paul&quot;,
            &quot;lastName&quot;: &quot;Rutland&quot;,
            &quot;dateDay&quot;: &quot;24&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;

            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-laptop.jpg&quot;,
            &quot;title&quot;: &quot;IHT... Avoid the Hit&quot;,
            &quot;categoryName&quot;: &quot;Tax&quot;,
            &quot;categoryTheme&quot;: &quot;orange&quot;,
            &quot;imgSrc&quot;: &quot;/img/sample-avatar.jpg&quot;,
            &quot;imgAlt&quot;: &quot;&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Graeme&quot;,
            &quot;lastName&quot;: &quot;Robb&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}

        &lt;/div&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;
            &lt;a class=&quot;c-tile--link&quot; href=&quot;/patterns/pages-article-3/pages-article-3.html&quot;&gt;
            {{&gt; components-tile(
            &quot;rectangle&quot;: false,
            &quot;backgroundSrc&quot;: &quot;/img/tile-coinJar.jpg&quot;,
            &quot;title&quot;: &quot;ISAy...ISAy...ISAy...&quot;,
            &quot;categoryName&quot;: &quot;Investments&quot;,
            &quot;categoryTheme&quot;: &quot;gold&quot;,
            &quot;imgSrc&quot;: &quot;/img/sample-avatar.jpg&quot;,
            &quot;imgAlt&quot;: &quot;&quot;,
            &quot;prefix&quot;: &quot;by&quot;,
            &quot;firstName&quot;: &quot;Martin&quot;,
            &quot;lastName&quot;: &quot;Green&quot;,
            &quot;dateDay&quot;: &quot;22&quot;,
            &quot;dateMonth&quot;: &quot;Jan&quot;,
            &quot;dateYear&quot;: &quot;2016&quot;
            )}}
        &lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;

&lt;/div&gt;